<template>
<a class="button is-primary is-outlined" @click="showStripeCheckout"><slot>Purchase</slot></a>
</template>

<script>
export default {
    props: ['product', 'postUrl', 'email', 'label'],
    data: function() {
        return {
            stripe: null,
            stripeToken: '',
            stripeEmail: ''
        }
    },
    mounted() {
        this.configureStripe();
    },
    methods: {
        configureStripe() {
            this.stripe = StripeCheckout.configure({
                key: process.env.STRIPE_PUBLIC_KEY,
                image: 'https://kittenkingdoms.com/img/stripe-icon.png',
                locale: 'auto',
                token: ( token ) => {
                    this.$emit('submit');
                    this.submitCharge(token.id, token.email);
                }
            });
        },
        submitCharge( id, email ) {
            let payload = {
                stripeToken: id,
                stripeEmail: email,
                key: this.product ? this.product.key : undefined
            };
            this.$http.post(this.postUrl, payload).then(res => {
                this.$emit('charge-success');
            }, err => {
                this.$emit('charge-fail', err.body);
            });
        },
        showStripeCheckout() {
            this.stripe.open({
                image: 'https://kittenkingdoms.com/img/stripe-icon.png',
                name: 'Kitten Kingdoms',
                description: this.product ? this.product.description : undefined,
                zipCode: false,
                currency: 'gbp',
                amount: this.product ? this.product.cost : undefined,
                email: this.email,
                panelLabel: this.label
            });
        }
    }
}
</script>

<style>

</style>
