$badge-box-shadow: 0 0 0 .2rem whitesmoke !default
$badge-font-size: 0.5rem !default
$badge-border-radius: 100% !default

.badge
  position: relative
  white-space: nowrap
  @each $name, $pair in $colors
    $color: nth($pair, 1)
    $color-invert: nth($pair, 2)
    &.is-badge-#{$name}
      &[data-badge]::after, &:not([data-badge])::after
        background: $color
        color: $color-invert
  &[data-badge]::after, &:not([data-badge])::after
    background: $primary
    background-clip: padding-box
    border-radius: $badge-border-radius
    box-shadow: $badge-box-shadow
    color: #fff
    content: attr(data-badge)
    display: inline-block
    -webkit-transform: translate(-0.2rem, -1rem)
    -ms-transform: translate(-0.2rem, -1rem)
    transform: translate(-0.2rem, -1rem)
  &[data-badge].is-tight::after, &:not([data-badge]).is-tight::after
      transform: translate(-0.5rem, -0.5rem)
  &[data-badge].is-on-menu::after, &:not([data-badge]).is-on-menu::after
      transform: translate(-7rem, -0.5rem)
  &[data-badge].is-white::after, &:not([data-badge].is-white)::after
    box-shadow: 0 0 0 .2rem white
  &[data-badge]::after
    font-size: $badge-font-size
    height: 1.0rem
    line-height: 1.3
    min-width: 1.0rem
    padding: .2rem .2rem
    text-align: center
    white-space: nowrap
  &:not([data-badge])::after, &[data-badge=""]::after
    height: .6rem
    min-width: .6rem
    padding: 0
    width: .6rem
  &.button::after
    position: absolute
    right: 0
    top: 0
    -webkit-transform: translate(50%, -50%)
    -ms-transform: translate(50%, -50%)
    transform: translate(50%, -50%)