body {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    color: #fff;
}
.hero-back {
    background-color: #F62459;
    background-image: linear-gradient(#1fc8db,rgba(167, 56, 237, 0.7)),linear-gradient(rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 0.6)), url('../img/shot03.png');
}

.nav {
    padding: 10px 0;
    height: auto !important;
}
.hero.is-dark .nav-item a:not(.button), .hero.is-dark a.nav-item {
    color: #fff;
    padding: 0 30px;
}
.nav-item {
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
}
.nav-item img {
    /* margin-left: 1rem; */
    /* padding: 1rem; */
    padding-left: 1rem;
}
.nav-item .button{
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    background-color: transparent;
    border: 2px solid #fff;
    padding: 10px 20px;
    height: 45px;
    border-radius: 5px;
}
.promo-img {
    border-radius: 10px;
    border: 10px solid white;
}


.card+.card {
    margin-top: 1rem;
}

.is-rounded {
    border-radius: 5px;
}

.is-pricing-columns {
    margin-top: 20px;
}

.is-pricing-box {
    position: relative;
    height: 420px;
    padding: 2rem;
}

.is-pricing-box .price {
    font-size: 2rem;
}

.is-pricing-box .action {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 1rem;
}

.is-pricing-box.is-popular {
    background-color: #1fc8db;
    height: 440px;
    margin-top: -10px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
    z-index: 3;
}

.nav-menu {
    overflow: visible !important;
}

.videoWrapper {
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 25px;
	height: 0;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}