html {
    overflow-y: auto !important;
}

body {
    color: black;
}

.purple-back {
    background-color: #7957d5 !important;
}

#myCanvas canvas {
    /* background-image: url('../img/old-parchment.jpg'); */
    /* background-size: cover; */
}
