<template>
    <b-autocomplete
            v-model="name"
            @input="value => $emit('change', onChange(value))"
            :data="characterAutocomplete"
            :keep-first="true"
            field="fullname"
            :placeholder="placeholder"
            icon="search"
            has-custom-template
            style="align-self: flex-end;"
            expanded
            >
            <template scope="props">
                <div class="media">
                    <div class="media-left">
                        <img class="image is-rounded is-32x32" :src="$photo(props.option.guid)">
                    </div>
                    <div class="media-content">
                        {{props.option.fullname}}
                    </div>
                </div>
            </template>
        </b-autocomplete>
</template>

<script>
export default {
    props: ['placeholder'],
    data: function() {
        return {
            name: ''
        }
    },
    computed: {
        characterAutocomplete() {
            return this.$store.state.gameState.characters
                .map(c => {
                    return {
                        guid: c.guid,
                        fullname: `${c.name} ${c.house}`
                    };
                })
                .filter(c => {
                    return c.fullname.toLowerCase().indexOf(this.name.toLowerCase()) >= 0;
                })
        }
    },
    methods: {
        onChange( value ) {
            let character = this.$store.state.gameState.characters.find(c => value == c.name + ' ' + c.house);
            if (character) {
                return character.guid;
            } else {
                return null;
            }
        }
    }
}
</script>

<style>
  
</style>
