<template>
    <a class="button" @click="selectCharacter()" :class="{'is-static':!character}">
        <template v-if="character">
            <img :src="pic" class="character-button-img">
            <span>{{character.name}} {{character.house}}</span>
        </template>
        <template v-else>
            {{nullText || 'no-one'}}
        </template>
    </a>
</template>

<script>
export default {
    props: ['character', 'big', 'nullText'],
    methods: {
        selectCharacter() {
            this.$store.commit('SELECT_CHARACTER', this.character.guid);
        }
    },
    computed: {
        pic() {
            return window.characterPhotoProvider(this.character.guid, 'png', false, '32x32');
        }
    }
}
</script>

<style>
.character-button-img {
    height: 100%;
    margin-right: 0.5rem;
}
</style>
