<template>
<div class="box compose-message">
    <a class="delete" @click="close()"></a>
    <div class="content">
    <b-field grouped>
        
        <b-autocomplete
            v-model="composeMessageReceiverName"
            :data="characterAutocomplete"
            :keep-first="true"
            field="fullname"
            placeholder="To:"
            icon="search"
            has-custom-template
            style="align-self: flex-end;"
            expanded
            >
            <template scope="props">
                <div class="media">
                    <div class="media-left">
                        <img class="image is-rounded is-32x32" :src="getPhoto(props.option.guid)">
                    </div>
                    <div class="media-content">
                        {{props.option.fullname}}
                    </div>
                </div>
            </template>
        </b-autocomplete>
        <p class="control">
            <img :src="photo" class="image is-rounded is-64x64">
        </p>
    </b-field>
    <b-field>
        <b-input type="textarea" maxlength="500" v-model="messageBody"></b-input>
    </b-field>
    <b-field class="has-addons" v-for="(bolton, i) in boltons" :key="i">
        <p class="control">
            <a class="button" @click="removeBolton(i)"> <b-icon icon="times"></b-icon> </a>
        </p>
        <b-select class="bolt-on-select" v-model="bolton.selected" expanded>
            <optgroup label="Offers:"></optgroup>
            <option v-for="(opt, oi) in allowedBoltons.filter(opt => !opt.isRequest && !opt.isPact)" :key="oi" :value="opt">{{opt.text}}</option>
            
            <optgroup label=""></optgroup>
            <optgroup label="Requests:"></optgroup>
            <option v-for="(opt, oi) in allowedBoltons.filter(opt => opt.isRequest)" :key="oi" :value="opt">{{opt.text}}</option>

            <optgroup label=""></optgroup>
            <optgroup label="Pacts:"></optgroup>
            <option v-for="(opt, oi) in allowedBoltons.filter(opt => opt.isPact)" :key="oi" :value="opt">{{opt.text}}</option>

            <template v-if="!areLocal">
                <optgroup label=""></optgroup>
                <optgroup label="Proximity Required:"></optgroup>
                <option v-for="(opt, oi) in proximityRequiredBoltons" :key="oi" :value="opt" disabled>{{opt.text}}</option>
            </template>

            <optgroup label=""></optgroup>
            <optgroup label="N/A:"></optgroup>
            <option v-for="(opt, oi) in notAllowedBoltons" :key="oi" :value="opt" disabled>{{opt.text}}</option>
        </b-select>
        <template v-if="bolton.selected">
            <b-input v-if="bolton.selected.valueType == 'number'" type="number" min="1" :max="getMaxValue(bolton)" v-model="bolton.intValue"></b-input>
            <b-select v-if="bolton.selected.valueType == 'select'" v-model="bolton.stringValue">
                <option v-for="(opt, i) in optionsFor(bolton)" :key="i" :value="opt.id">{{opt.text}}</option>
            </b-select>
        </template>
    </b-field>
    <b-field grouped>
        <p class="control">
            <a class="button is-primary" @click="sendMessage()"> <b-icon icon="paper-plane"></b-icon> <span>Send</span></a>
        </p>
        <p class="control">
            <a class="button is-success" @click="addBolton()" v-if="canAddBoltOn"> <b-icon icon="plus"></b-icon> <span>Bolt-on</span></a>
            <hint name="boltons"></hint>
        </p>
        <b-tooltip label="Receiver must accept all or decline all.">
        <b-switch :disabled="boltons.length < 2" v-model="isUltimatum">Ultimatum</b-switch>
        </b-tooltip>
        <!-- <b-select v-if="boltons.length >= 2" v-model="boltOnAcceptType" expanded>
            <option value="any">Any</option>
            <option value="all">Ultimatum</option>
        </b-select> -->
    </b-field>
    </div>
</div>
</template>

<script>
export default {
    data: function() {
        return {
            messageBody: '',
            receiverName: '',
            boltOnAcceptType: 'any',
            isUltimatum: true,
            boltons: [],
            boltOnOptions: [
                {type: 'GIVE_RELEASE', 
                    text: 'Release from Prison', 
                    allowed: 'canGiveRelease'},
                {type: 'REQUEST_RELEASE', 
                    text: 'Release me from Prison', 
                    allowed: 'canRequestRelease',
                    isRequest: true},
                {type: 'MARRY', 
                    text: 'Propose to Marry', 
                    allowed: 'canMarry'},
                {type: 'OFFER_VISIT', 
                    text: 'Invite to {county}'},
                {type: 'REQUEST_VISIT', 
                    text: 'Request Invite to {county}',
                    isRequest: true},
                {type: 'SWEAR_FEALTY', 
                    text: 'Swear Fealty', 
                    allowed: 'canSwearFealty'},
                {type: 'REQUEST_FEALTY', 
                    text: 'Request they Swear Fealty', 
                    allowed: 'canRequestFealty',
                    isRequest: true},
                {type: 'GIVE_MONEY', 
                    text: 'Offer Money', 
                    valueType: 'number',
                    max: 'senderMoney'},
                {type: 'REQUEST_MONEY', 
                    text: 'Request Money', 
                    valueType: 'number',
                    max: 'receiverMoney',
                    isRequest: true},
                {type: 'GIVE_LAND', 
                    text: 'Offer County', 
                    valueType: 'select', 
                    localOnly: true, 
                    options: 'senderLand'},
                {type: 'REQUEST_LAND', 
                    text: 'Request County', 
                    valueType: 'select', 
                    localOnly: true, 
                    options: 'receiverLand',
                    isRequest: true},
                {type: 'GIVE_ITEM', 
                    text: 'Offer Item', 
                    valueType: 'select', 
                    localOnly: true, 
                    options: 'senderItems',},
                {type: 'REQUEST_ITEM', 
                    text: 'Request Item', 
                    valueType: 'select', 
                    localOnly: true, 
                    options: 'receiverItems',
                    isRequest: true},
                {type: 'GIVE_PRISONER', 
                    text: 'Offer Prisoner', 
                    valueType: 'select', 
                    localOnly: true,
                    options: 'senderPrisoners'},
                {type: 'REQUEST_PRISONER', 
                    text: 'Request Prisoner', 
                    valueType: 'select', 
                    localOnly: true,
                    options: 'receiverPrisoners',
                    isRequest: true},
                {type: 'NO_PLOTTING_PACT', 
                    text: 'No Plotting Pact', 
                    localOnly: false,
                    isPact: true},
                {type: 'OPEN_BORDERS_PACT', 
                    text: 'Open Borders Pact', 
                    localOnly: false,
                    isPact: true},
                {type: 'CLOSED_BORDERS_PACT', 
                    text: 'Closed Borders Pact', 
                    localOnly: false,
                    isPact: true},
                {type: 'SCIENCE_PACT', 
                    text: 'Science Pact', 
                    localOnly: false,
                    isPact: true},
                {type: 'MILITARY_PACT', 
                    text: 'Military Pact', 
                    localOnly: false,
                    isPact: true},
            ]
        }
    },
    computed: {
        composeMessageReceiverName: {
            get() {
                return this.$store.state.composeMessageReceiverName;
            },
            set( name ) {
                this.receiverName = name;
                let character = this.$store.state.gameState.characters.find(c => {
                    return name == (c.name + ' ' + c.house);
                });
                if (character) {
                    this.$store.commit("COMPOSE_MESSAGE", {
                        characterName: name,
                        characterId: character.guid
                    });
                }
            }
        },
        photo() {
            if (this.$store.state.composeMessageReceiverId) {
                return window.characterPhotoProvider(this.$store.state.composeMessageReceiverId, 'jpg', true);
            } else {
                return '';
            }
        },
        characterAutocomplete() {
            return this.$store.state.gameState.characters
                .map(c => {
                    return {
                        guid: c.guid,
                        fullname: `${c.name} ${c.house}`
                    };
                })
                .filter(c => {
                    return c.fullname.toLowerCase().indexOf(this.receiverName.toLowerCase()) >= 0;
                })
        },
        allowedBoltons() {
            let opts = this.boltOnOptions.filter(opt => {
                let allowed = (opt.allowed == undefined) || this[opt.allowed];
                if (opt.localOnly) {
                    return this.areLocal && allowed;
                } else {
                    return allowed;
                }
            });
            return this.mapBoltons(opts);
        },
        proximityRequiredBoltons() {
            let opts = this.boltOnOptions.filter(opt => {
                if (opt.localOnly) {
                    return !this.areLocal;
                }
                return false;
            });
            return this.mapBoltons(opts);
        },
        notAllowedBoltons() {
            let opts = this.boltOnOptions.filter(opt => {
                let allowed = (opt.allowed == undefined) || this[opt.allowed];
                return !opt.localOnly && !allowed;
            });
            return this.mapBoltons(opts);
        },
        senderId() {
            return this.$store.state.activeCharacter;
        },
        receiverId() {
            return this.$store.state.composeMessageReceiverId;
        },
        sender() {
            return this.$store.getters.character(this.senderId);
        },
        receiver() {
            return this.$store.getters.character(this.receiverId);
        },
        canAddBoltOn() {
            return this.senderId && this.receiverId && this.senderId != this.receiverId;
        },
        canMarry() {
            return this.$store.getters.canMarry(this.senderId, this.receiverId);
        },
        canGiveRelease() {
            return this.$store.getters.canGiveRelease(this.senderId, this.receiverId);
        },
        canRequestRelease() {
            return this.$store.getters.canGiveRelease(this.receiverId, this.senderId);
        },
        canHaveChildren() {
            return this.$store.getters.canHaveChildren(this.senderId, this.receiverId);
        },
        canSwearFealty() {
            return this.$store.getters.canSwearFealty(this.senderId, this.receiverId);
        },
        canRequestFealty() {
            return this.$store.getters.canSwearFealty(this.receiverId, this.senderId);
        },
        senderMoney() {
            return this.sender.money;
        },
        receiverMoney() {
            return this.receiver.money;
        },
        senderLocationName() {
            let location = this.$store.getters.county(this.sender.location);
            return location ? location.name : '???';
        },
        receiverLocationName() {
            let location = this.$store.getters.county(this.receiver.location);
            return location ? location.name : '???';
        },
        senderLand() {
            return this.$store.getters.characterCounties(this.senderId).map(county => {
                return {
                    text: county.name,
                    id: county.guid
                }
            });
        },
        receiverLand() {
            return this.$store.getters.characterCounties(this.receiverId).map(county => {
                return {
                    text: county.name,
                    id: county.guid
                }
            });
        },
        senderItems() {
            return this.$store.getters.characterItems(this.senderId).filter(item => !item.active).map(item => {
                return {
                    text: item.name,
                    id: item.guid
                }
            });
        },
        receiverItems() {
            return this.$store.getters.characterItems(this.receiverId).filter(item => !item.active).map(item => {
                return {
                    text: item.name,
                    id: item.guid
                }
            });
        },
        senderBlueprints() {
            return this.$store.getters.characterBlueprints(this.senderId).map(blueprint => {
                return {
                    text: blueprint.name,
                    id: blueprint.key
                }
            });
        },
        receiverBlueprints() {
            return this.$store.getters.characterBlueprints(this.receiverId).map(blueprint => {
                return {
                    text: blueprint.name,
                    id: blueprint.key
                }
            });
        },
        senderPrisoners() {
            return this.$store.getters.characterPrisoners(this.senderId).map(prisoner => {
                return {
                    text: prisoner.name + ' ' + prisoner.house,
                    id: prisoner.guid
                }
            });
        },
        receiverPrisoners() {
            return this.$store.getters.characterPrisoners(this.receiverId).map(prisoner => {
                return {
                    text: prisoner.name + ' ' + prisoner.house,
                    id: prisoner.guid
                }
            });
        },
        
        areLocal() {
            let sender = this.$store.getters.character(this.senderId);
            let receiver = this.$store.getters.character(this.receiverId);
            return sender && receiver && sender.location == receiver.location && sender.location && receiver.location;
        }
    },
    methods: {
        sendMessage() {
            this.$store.dispatch("SEND_MESSAGE", {
                fromCharacterId: this.senderId,
                toCharacterId: this.receiverId,
                message: this.messageBody,
                proposalAcceptType: (this.isUltimatum ? 'all' : 'any'),
                proposals: this.boltons.filter(b => b.selected).map(b => {
                    return {
                        type: b.selected.type,
                        intValue: b.intValue,
                        stringValue: b.stringValue
                    }
                })
            });
            this.messageBody = '';
            this.boltons = [];
            this.$toast.open({
                message: 'Message Sent',
                type: 'is-success'
            })
            this.$store.commit("SET_IS_COMPOSING_MESSAGE", false);
        },
        close() {
            this.$store.commit("SET_IS_COMPOSING_MESSAGE", false);
        },
        select( data ) {
            this.$store.commit("COMPOSE_MESSAGE", {
                characterId: data ? data.guid : '',
                characterName: data ? data.fullname : ''
            });
        },
        addBolton() {
            this.boltons.push({
                type: '',
                intValue: 1,
                stringValue: '',
                selected: null
            });
        },
        removeBolton( i ) {
            this.boltons.splice(i, 1);
        },
        mapBoltons( boltons ) {
            return boltons.map(opt => {
                let result = Object.assign({}, opt);
                if (result.type === 'OFFER_VISIT') {
                    result.text = result.text.replace('{county}', this.senderLocationName);
                } else if (result.type === 'REQUEST_VISIT') {
                    result.text = result.text.replace('{county}', this.receiverLocationName);
                }
                return result;
            });
        },
        optionsFor( boltOn ) {
            if (boltOn.selected.options) {
                let options = this[boltOn.selected.options];
                return options;
            }
            return [];
        },
        getMaxValue( boltOn ) {
            if (boltOn.selected.max) {
                return this[boltOn.selected.max];
            }
            return null;
        },
        getPhoto( guid ) {
            if (!guid) {
                return '';
            }
            return window.characterPhotoProvider(guid, 'jpg', true);
        }
    }
}
</script>

<style>
  .compose-message {
      color: black;
      position: relative;
  }
  .compose-message .delete {
      position: absolute;
      top: 1rem;
  }
  .is-rounded {
      border-radius: 5px;
  }
</style>
