<template>
  <a class="button is-small is-primary" @click="selectCounty()">{{name}}</a>
</template>

<script>
export default {
    props: ['countyId'],
    computed: {
        name() {
            let county = this.$store.getters.county(this.countyId);
            return county ? county.name : '?';
        }
    },
    methods: {
        selectCounty() {
            this.$store.dispatch('SELECT_COUNTY', {countyId: this.countyId, shouldMoveMap: true});
        }
    }
}
</script>

<style>
</style>
