<template>
  <div class="modal is-active desire-select">
      <div class="modal-background"></div>
      <div class="modal-content glow">
        <desire-select :desire-choices="DesireChoices"></desire-select>
      </div>
  </div>
</template>

<script>
import DesireSelect from './desire_select.vue';
export default {
    components: {DesireSelect},
    props: ['DesireChoices']
}
</script>

<style>
.desire-select .card {
    border-radius: 10px;
}
.modal-content.glow {
    padding: 3rem;
}
.is-8 {
    font-size: 0.7rem;
}
.pick-card {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.05) inset, 0px 0px 18px rgba(200, 100, 236, 0.4);
    height: 10rem;
}
.pick-card:hover {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.05) inset, 0px 0px 18px rgba(200, 100, 236, 1);
    transform: scale(1.1, 1.1);
}
</style>
