<template>
<div>
    <div v-for="(desireChoice, i) in desireChoices" :key="i" class="desire-choices">
        <p class="title has-text-light has-text-centered">Select a Desire <hint name="desires"></hint></p>
        <div class="columns">
            <div class="column" v-for="(desire, k) in parseDesires(desireChoice)" :key="k">
                <div class="card pick-card has-text-centered" @click="selectDesire(i, k, desire)">
                    <div class="card-content">
                    <p class="title is-5">{{desire.title}}</p>
                    <p class="is-8">{{desire.description}}</p>
                    <p class="is-8 has-text-success">Worth {{desire.score}} points</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <template v-if="desires">
    <div v-for="(desire, i) in parseDesires(desires)" :key="i" class="desire-choices">
        <p class="title has-text-light has-text-centered">Desire {{i + 1}} <hint name="desires"></hint></p>
        <div class="columns">
            <div class="column">
                <div class="card pick-card has-text-centered">
                    <div class="card-content">
                    <p class="title is-5">{{desire.title}}</p>
                    <p class="is-8">{{desire.description}}</p>
                    <p class="is-8 has-text-success">Worth {{desire.score}} points</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </template>
</div>
</template>

<script>
import DesireParser from '../helpers/desire';
export default {
    props: ['desireChoices', 'desires'],
    mixins: [DesireParser],
    data() {
        return {
            selectedDesire: [null, null]
        }
    },
    methods: {
        changeDesire() {
            this.selectedDesire = null;
        },
        selectDesire( choiceIndex, desireIndex, desire ) {
            this.$store.dispatch('ACCEPT_DESIRE', {
                choiceIndex: choiceIndex,
                desireIndex: desireIndex
            });
        },
    }
}
</script>

<style>
.desire-choices {
    margin-top: 1rem;
}
</style>
