<template>
<div class="card desire-card has-text-centered">
    <div class="card-content">
    <p class="title">Blaggard</p>
    <p>Sabotage Jesus Higgins</p>
    <p class="has-text-success">500 points</p>
    </div>
</div>
</template>

<script>
export default {

}
</script>

<style>

</style>
