<template>
  <div class="modal is-active">
    <div class="modal-background"></div>
    <div class="modal-content box">
        <p class="title is-4 has-text-centered">
            You are eliminated!
        </p>
        <p class="has-text-centered">
            The last of your kitten dynasty has died and so you have been eliminated from the game.
            Better luck next time.
        </p>
        <br>
        <p class="has-text-centered">
            <a class="button is-primary" @click="gotoLobby">Back to Lobby</a>
        </p>
    </div>
  </div>
</template>

<script>
export default {
    methods: {
        gotoLobby() {
            window.location = 'lobby';
        }
    }
}
</script>

<style>

</style>
