<template>
    <span v-if="visible">
    <a @click="showHint" ><b-icon class="is-info" icon="info-circle" size="is-small"></b-icon></a>
    </span>
</template>

<script>
export default {
    props: ['name'],
    computed: {
        visible() {
            return true;
        }
    },
    methods: {
        showHint() {
            this.$router.push('/hint/'+this.name);
            // this.$hint(this.name, this.name.toLowerCase());
        }
    }
}
</script>