<template>
<div class="modal is-active">
    <div class="modal-background"></div>
    <div class="modal-content box">
        <p class="title has-text-centered is-2">Day {{day}} <hint name="tax_turn"></hint></p>
        <p class="title has-text-centered is-4">Economy <hint name="economy"></hint></p>
        <b-table
            :data="economyData"
            :rowClass="row => 'row-' + row.type"
        >
            <template scope="props">
                <b-table-column label="Category">
                    {{ props.row.type }}
                </b-table-column>
                <b-table-column label="Amount" numeric>
                    {{ props.row.value }}
                </b-table-column>
            </template>
        </b-table>
        <br>
        <p class="title has-text-centered is-4">Science <hint name="science"></hint></p>
        <b-table
            :data="scienceData"
            :rowClass="row => 'row-' + row.type"
        >
            <template scope="props">
                <b-table-column label="Category">
                    {{ props.row.type }}
                </b-table-column>
                <b-table-column label="Amount" numeric>
                    {{ props.row.value }}
                </b-table-column>
            </template>
        </b-table>
        <br>
        <p class="title has-text-centered is-4">Players <hint name="scoring"></hint></p>
        <b-table
            :data="$store.state.gameState.players"
        >
            <template scope="props">
                <b-table-column label="Place">
                    {{ props.index + 1 }}
                </b-table-column>
                <b-table-column label="Player">
                    {{ props.row.username }}
                </b-table-column>
            </template>
        </b-table>
        <br>
        <p class="has-text-centered">
            <a class="button is-primary" @click="close">Close</a>
        </p>
    </div>
</div>
</template>

<script>
export default {
    props: ['stats'],
    computed: {
        economyData() {
            return this.tableData(this.stats.lastDayMoneyBreakdown);
        },
        scienceData() {
            return this.tableData(this.stats.lastDayScienceBreakdown);
        },
        day() {
            return Math.floor(this.$store.getters.turn / this.$store.state.gameState.config.incomeTurnInterval);
        }
    },
    methods: {
        close() {
            this.$store.dispatch('READ_INCOME_TURN_INFO');
        },
        tableData( set ) {
            let result = [];
            for (let key in set) {
                result.push({
                    type: key,
                    value: set[key]
                });
            }
            let sum = result.reduce((sum, row) => sum += row.value, 0);
            result.push({
                type: 'Total',
                value: sum
            });
            return result;
        }
    }
}
</script>

<style>
.row-Total  {
    background-color: palevioletred !important;
    color: white !important;
}
.row-Total:hover {
    background-color: palevioletred !important;
    color: white !important;
}
</style>
