<template>
    <article class="media">
        <figure class="media-left">
            <p class="image is-64x64">
                <img :src="fromPhoto">
            </p>
        </figure>
        <div class="media-content">
            <div class="content">
                <p>
                    <strong class="is-size-5">{{message.fromName}} <span v-if="isSentMessage">to {{message.toName}}</span></strong>
                    <small>turn {{message.turn}}</small>
                    <br>
                    <span style="font-size: 1rem">
                    <component :is="parsedMessageBody" 
                        @county="guid => selectCounty(guid)"
                        @character="guid => selectCharacter(guid)"
                        ></component>
                    </span>
                </p>
                <div class="box" v-if="message.proposals.length > 0 && message.proposalAcceptType == 'any'">
                    <div class="columns is-multiline">
                        <div class="column" v-for="(proposal, i) in proposals" :key="i">
                            <div class="bolton">
                                <p class="is-light has-text-centered" :class="{'has-text-danger':!proposal.response && proposal.receivedResponse,'has-text-success':proposal.response}" disabled>{{proposal.text}}</p>
                                <b-field position="is-centered" v-if="!isSentMessage && !isExpired">
                                    <b-radio-button 
                                        @input="value => sendProposalResponse(i, value == 1)"
                                        v-model="proposal.response" 
                                        :native-value="1"
                                        :disabled="proposal.receivedResponse"
                                        type="is-success">
                                            <b-icon icon="check"></b-icon>Accept
                                    </b-radio-button>
                                    <b-radio-button 
                                        @input="value => sendProposalResponse(i, value == 1)"
                                        v-model="proposal.response" 
                                        :native-value="0"
                                        :disabled="proposal.receivedResponse"
                                        type="is-danger">
                                            <b-icon icon="times"></b-icon>Decline ({{expiration}}hrs)
                                    </b-radio-button>
                                </b-field>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box" v-else-if="message.proposals.length > 0">
                    <div class="columns is-desktop">
                        <div class="column" v-for="(proposal, i) in proposals" :key="i">
                            <div class="bolton">
                                <p class="is-light has-text-centered" :class="{'has-text-danger':!proposal.response && proposal.receivedResponse,'has-text-success':proposal.response}" disabled>{{proposal.text}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="columns has-text-centered">
                        <div class="column" v-if="!isSentMessage && !isExpired">
                            <b-field class="bolton" position="is-centered">
                                <b-radio-button 
                                    @input="value => sendProposalResponse(0, value == 1)"
                                    v-model="proposals[0].response" 
                                    :native-value="1"
                                    :disabled="proposals[0].receivedResponse"
                                    type="is-success">
                                        <b-icon icon="check"></b-icon>Accept All
                                </b-radio-button>
                                <b-radio-button 
                                    @input="value => sendProposalResponse(i, value == 1)"
                                    v-model="proposals[0].response" 
                                    :native-value="0"
                                    :disabled="proposals[0].receivedResponse"
                                    type="is-danger">
                                        <b-icon icon="times"></b-icon>Decline All
                                </b-radio-button>
                            </b-field>
                        </div>
                        <div class="column" v-if="!proposals[0].receivedResponse">
                            <p class="has-text-danger is-7" v-if="isExpired">Expired</p>
                            <p class="has-text-danger is-7" v-else>Expires in {{expiration}} turns</p>
                        </div>
                    </div>
                </div>
            </div>
            <nav class="level is-mobile" v-if="!isSentMessage">
                <div class="level-left">
                    <a class="level-item" @click="reply()">
                        <b-icon icon="reply" size="is-small"></b-icon>
                    </a>
                    <a class="level-item" @click="$store.dispatch('MARK_MESSAGE_READ', {messageId: message.guid})">
                        <b-icon :icon="message.read ? 'envelope-open' : 'envelope'" size="is-small"></b-icon>
                    </a>
                    <a class="level-item" @click="$store.commit('SELECT_CHARACTER', message.from)">
                        <b-icon icon="globe" size="is-small"></b-icon>
                    </a>
                </div>
            </nav>
        </div>
        <div class="media-right" v-if="isSentMessage">
            <p class="image is-32x32">
                <img :src="toPhoto">
            </p>
        </div>
    </article>
</template>

<script>
import DesireHelper from '../helpers/desire';
import MessageParser from '../helpers/message_parser';
import Vue from 'vue';

export default {
    props: ['message'],
    mixins: [DesireHelper, MessageParser],
    data: function() {
        return {
            boltonTexts: {
                MARRY: "{sender} wants to marry you.",
                SWEAR_FEALTY: "{sender} wants to swear fealty to you.",
                REQUEST_FEALTY: "Swear fealty to {sender}.",
                OFFER_VISIT: "Visit {sender}'s location.",
                REQUEST_VISIT: "{sender} wants to visit you.",
                GIVE_MONEY: "{sender} offers you {int}btc.",
                REQUEST_MONEY: "{sender} requests {int}btc from you.",
                GIVE_ITEM: "{sender} offers you an item: {string}.",
                REQUEST_ITEM: "{sender} requests an item: {string}.",
                GIVE_LAND: "{sender} offers you the deeds to {string}",
                REQUEST_LAND: "{sender} requests the deeds to {string}",
                GIVE_RELEASE: "{sender} wants to release you from prison.",
                REQUEST_RELEASE: "{sender} wants release from prison.",
                GIVE_PRISONER: "{sender} offers you their prisoner, {string}.",
                REQUEST_PRISONER: "{sender} requests you transfer your prisoner, {string}, to them.",
                NO_PLOTTING_PACT: "{sender} wants a 'No Plotting' pact with you. Neither of you can plot against each other for 48 turns.",
                OPEN_BORDERS_PACT: "{sender} wants a 'Open Borders' pact with you. Both of you can move armies through each other's territory without attacking for 48 turns.",
                CLOSED_BORDERS_PACT: "{sender} wants a 'Closed Borders' pact with you. Neither of you can move armies through each other's territory for 48 turns.",
                SCIENCE_PACT: "{sender} wants a 'Science' pact with you. Both of you will receive +1 science per county per turn, for 48 turns.",
                MILITARY_PACT: "{sender} wants a 'Military' pact with you. Both of you will receive +3 troops per county per turn, for 48 turns."
            }
        }
    },
    computed: {
        proposals() {
            return this.message.proposals.map(proposal => {
                proposal.text = this.getProposalText(proposal);
                return proposal;
            });
        },
        fromName() {
            let from = this.$store.getters.character(this.message.from);
            return `${from.name} ${from.house}`;
        },
        fromPhoto() {
            return window.characterPhotoProvider(this.message.from, 'jpg', true, '128x128');
        },
        toPhoto() {
            return window.characterPhotoProvider(this.message.to, 'jpg', true, '128x128');
        },
        isSentMessage() {
            return this.message.from == this.$store.state.activeCharacter && this.message.from != this.message.to;
        },
        parsedMessageBody() {
            return this.parseMessage(this.message.message);
        },
        expiration() {
            return (this.message.turn + 24) - this.$store.getters.turn;
        },
        isExpired() {
            return this.expiration <= 0;
        }
    },
    methods: {
        sendProposalResponse( index, value ) {
            this.$store.dispatch('SEND_PROPOSAL_RESPONSE', {messageId: this.message.guid, proposalIndex: index, response: value});
        },
        getProposalText( proposal ) {
            let text = this.boltonTexts[proposal.type];
            text = text.replace(/{int}/g, proposal.intValue+'');
            text = text.replace(/{sender}/g, this.message.fromName);
            switch(proposal.type) {
                case 'GIVE_LAND':
                case 'REQUEST_LAND':
                    let county = this.$store.getters.county(proposal.stringValue);
                    text = text.replace(/{string}/g, county.name);
                    break;
                case 'GIVE_ITEM':
                case 'REQUEST_ITEM':
                    let item = this.$store.state.gameState.items.find(i => i.guid === proposal.stringValue);
                    if (item) {
                        text = text.replace(/{string}/g, item.name);
                    }
                    break;
                case 'GIVE_PRISONER':
                case 'REQUEST_PRISONER':
                    let character = this.$store.getters.character(proposal.stringValue);
                    text = text.replace(/{string}/g, character.name + ' ' + character.house);
                    break;
            }
            return text;
        },
        acceptDesire( desireIndex ) {
            this.message.miscData.acceptedIndex = desireIndex;
            this.$store.dispatch('ACCEPT_DESIRE', {messageId: this.message.guid, desireIndex});
        },
        reply() {
            this.$store.commit("COMPOSE_MESSAGE", {
                characterId: this.message.from,
                characterName: this.fromName
            });
        }
    }
}
</script>

<style>
  .bolton p {
      width: 100%;
      border: 1px solid #EEE;
      border-radius: 5px;
      padding: 0.5rem;
      margin-bottom: 0.25rem !important;
  }
  .bolton .control, .bolton .button {
      width: 100%;
  }
  .external-link {
      text-decoration: underline;
  }
</style>
