<template>
<div class="modal is-active desire-select">
    <div class="modal-background"></div>
    <div class="modal-content glow">
        <div class="box">
            <div class="columns has-text-centered">
                <div class="column is-3">
                    <img :src="kittenPhoto">
                    <!-- <img src="/img/svg/shield-2.svg" width="128px"> -->
                </div>
                <div class="column">
                    <p class="title">{{catFullName}}</p>
                    <p class="subtitle">Game starts {{$store.getters.gameStartTime}}</p>
                    <div class="field is-grouped is-grouped-centered is-grouped-multiline">
                        <p class="control">
                            <a class="button is-small is-primary" @click="_renameFirstName">Edit First Name</a>
                        </p>
                        <!-- <p class="control">
                            <a class="button is-small is-primary">Edit House Name</a>
                        </p> -->
                    </div>
                </div>
            </div>
        </div>

        <template v-if="$store.getters.activeCharacter.focus">
            <p class="title has-text-light has-text-centered">Focus <hint name="focus"></hint></p>
            <div class="columns">
                <div class="column">
                    <div class="card focus-card has-text-centered">
                        <div class="card-content">
                            <p class="title is-5">{{selectedFocus.name}}</p>
                            <p class="is-8">{{selectedFocus.description}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </template>
        <template v-else>
            <p class="title has-text-light has-text-centered">Select a Focus <hint name="focus"></hint></p>
            <div class="columns">
                <div class="column" v-for="(focus, i) in focuses" :key="focus.name">
                    <div class="card pick-card focus-card has-text-centered" @click="selectFocus(i)">
                        <div class="card-content">
                        <p class="title is-5">{{focus.name}}</p>
                        <p class="is-8">{{focus.description}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </template>

        <desire-select 
            :desireChoices="$store.getters.activeCharacter.desireChoices"
            :desires="$store.getters.activeCharacter.desires"
        ></desire-select>

    </div>
</div>
</template>

<script>
import DesireSelect from './desire_select.vue';
import RenameHelper from '../helpers/rename';

export default {
    components: {DesireSelect},
    mixins: [RenameHelper],
    computed: {
        kittenPhoto() {
            if (this.$store.getters.activeCharacter) {
                return window.characterPhotoProvider(this.$store.getters.activeCharacter.guid, 'png', true);
            }
        },
        catFullName() {
            if (this.$store.getters.activeCharacter) {
                let cat = this.$store.getters.activeCharacter;
                return `${cat.name} ${cat.house}`;
            }
        },
        selectedFocus() {
            return this.focuses.find(f => f.id === this.$store.getters.activeCharacter.focus);
        }
    },
    methods: {
        selectFocus( index ) {
            this.$store.dispatch('SET_FOCUS', {
                characterId: this.$store.getters.activeCharacter.guid,
                focus: this.focuses[index].id
            });
        },
        changeFocus() {
            this.selectedFocus = null;
        },
        _renameFirstName() {
            this.renameFirstName(this.$store.getters.activeCharacter);
        },
        _renameHouseName() {
            this.renameHouseName(this.$store.getters.activeCharacter);
        }
    },
    data() {
        return {
            focuses: [
                {
                    id: 'money',
                    name: "Economy",
                    description: "+10 Economy/turn, +2% income tax as overlord"
                },
                {
                    id: 'military',
                    name: "Military",
                    description: "+1x attack & defence bonus"
                },
                {
                    id: 'science',
                    name: "Science",
                    description: "+3 Science/turn, more accurate intel."
                }
            ]
        }
    }
}
</script>

<style>
.desire-select .card {
    border-radius: 10px;
}
.modal-content.glow {
    padding: 3rem;
}
.desire-select .is-8 {
    font-size: 0.7rem;
}
.pick-card {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.05) inset, 0px 0px 18px rgba(200, 100, 236, 0.4);
    height: 10rem;
}
.pick-card:hover {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.05) inset, 0px 0px 18px rgba(200, 100, 236, 1);
    transform: scale(1.1, 1.1);
}
</style>
