[KittenKingdoms.com] You've gone AFK!
<p>Dear ${username},<br>
    You have been inactive in game ${gameName} for more than 42 hours.
    Your kitten has been taken over by AI. You can regain control by logging in.
</p>
<p>
    <a href="${gameUrl}">Log in to game</a>
</p>