[kittenkingdoms.com] You have been refunded
<p>Dear ${username},<br>
    We have refunded ${amountRefunded} ${currency} to your card ending ${cardDigitsLast4} for the following purchase:<br>
    <strong>${description}</strong>
</p>
<p>
    Best,<br>
    Luke Perkin,<br>
    Locogame Ltd
</p>