[kittenkingdoms.com] There was a problem with your purchase
<p>Dear ${username},<br>
    We have failed to bill you ${billingAmount} ${currency} to your card ending ${cardDigitsLast4} for the following purchase:<br>
    <strong>${description}</strong>
</p>
<p>
    Please try again. If the problem persists please contact <a href="mailto:luke@locogame.co.uk">luke@locogame.co.uk</a>.
</p>
<p>
    Best,<br>
    Luke Perkin,<br>
    Locogame Ltd
</p>