${gameName} has finished! ${winnerName} was victorious!
<p>
Hello ${username},<br>
The game, <strong>${gameName}</strong>, has come to an end. <strong>${winnerName}</strong> won the game with ${winnerScore} points. There were ${kittensAlive} surviving kittens left
on the map.
</p>
<p>Here are the final scores:</p>
<p>
${scoreboard}
</p>