A kitten was born!
<p>Dear ${username},<br>
    ${parentFullName} and ${spouseFullName} had a kitten and named the child ${childFullName}!
</p>
<p>
    If you're on our awesome <strong>Kitten Ninja</strong> or <strong>Kitten Wizard</strong> plan you can rename the 
    kitten before ${kittenFullName} turns 16. 
    The Kitten Ninja plan is only £1.99 / month. <a href="https://kittenkingdoms.com/lobby?premium=1">Learn more</a>.
</p>
<p>
    <a href="${gameUrl}">Click here to go "aww"</a>
</p>