[kittenkingdoms.com] ${kittenName} is dead!
<p>Meow ${username},<br>
    Our beloved ${kittenName} ${kittenHouse} has died at the age of ${age}!
    ${heirFullName} has inherited their land, money, items and blueprints.
</p>
<p>
    <a href="${gameUrl}">Click here to pay respects</a>
</p>