New Message from ${senderHouse}
<p>
    <img src="${fromKittenImg}" >
    <img src="${toKittenImg}" >
</p>
<p>Dear ${username},<br>
    Your kitten, ${kittenName} ${kittenHouse}, has received a new message from ${senderName} ${senderHouse}:
</p>
<p>
    ${message}
</p>
<p>
    <a href="${gameUrl}">Reply to this message</a>
</p>