Wai you leave?
<p>Hi ${username},<br>
    We're sorry to see you cancel your Kitten Ninja plan.
    We will still keep your subscription active until the end of the period you have already payed for,
    and then you will lose the Kitten Ninja features on ${endDate}. You can re-activate your subscription until then
    at any time from your profile settings.
</p>

<p>
    If you have any feedback please contact me at luke@locogame.co.uk
</p>

<p>
    Many Thanks,<br>
    Luke Perkin<br>
    Locogame Ltd
</p>