[kittenkingdoms.com] Payment Receipt
<p>Hi ${username},<br>
    Thank you, your payment for the Kitten Ninja plan has been received.
</p>

<p>
    Plan: Kitten Ninja<br>
    Period: ${periodStart} to ${periodEnd}<br>
    Amount: ${currency} ${charge}<br>
</p>

<p>
    If you need anything please contact me at luke@locogame.co.uk
</p>

<p>
    Many Thanks,<br>
    Luke Perkin<br>
    Locogame Ltd
</p>