You're no longer a ninja :(
<p>Hi ${username},<br>
    Your Kitten Nina plan has come to an end. Whatever the reason, we hope you had fun!
</p>

<p>
    If you have any feedback please contact me at luke@locogame.co.uk
</p>

<p>
    Many Thanks,<br>
    Luke Perkin<br>
    Locogame Ltd
</p>