[kittenkingdoms.com] Payment Failed
<p>Hi ${username},<br>
    Unfortunately your payment for the Kitten Ninja plan has failed.
    We will still keep your subscription active for a few days, you can update your card details
    from your profile settings.
</p>

<p>
    Plan: Kitten Ninja<br>
    Period: ${periodStart} to ${periodEnd}<br>
    Amount Due: ${currency} ${charge}<br>
</p>

<p>
    If you need anything please contact me at luke@locogame.co.uk
</p>

<p>
    Many Thanks,<br>
    Luke Perkin<br>
    Locogame Ltd
</p>