You're a Kitten Ninja!
<p>Dear ${username},<br>
    Thank you for subscribing to the Kitten Ninja plan!</p>

<p>You now have access to the following features:<br>
    <ul>
        <li>Rename your kittens and counties (customizing appearance coming soon)</li>
        <li>Play up to 6 games simultaneously</li>
        <li>Create up 10 public and private games simultaneously</li>
        <li>Play without advertisements</li>
        <li>My eternal thanks :)</li>
    </ul>
</p>

<p>Your current plan is active until ${nextPaymentDate} 
    at which point we will automatically renew your subscription for ${charge} gbp.</p>

<p>You can cancel your subscription at any time from you profile settings</p>

<p>
    Many Thanks,<br>
    Luke Perkin<br>
    Locogame Ltd
</p>