Welcome to Kitten Kingdoms!
<p>Dear ${username},<br>
    Thank you for signing up to Kitten Kingdoms. You can start playing straight away!<br>
    You can also join our Discord server, we use discord to keep track of bug-reports,
    feature requests and general kitten related chit-chat.<br>
    <a href="https://discord.gg/HsPG2A2">https://discord.gg/HsPG2A2</a>
</p>
<p>
    <a href="${loginUrl}">All hail the kittens!</a>
</p>