You're a Kitten Wizard!
<p>Dear ${username},<br>
    Thank you for subscribing to the Kitten Wizard plan!</p>

<p>You now have access to the following features:<br>
    <li>Rename your kittens and counties (customizing appearance coming soon)</li>
    <li>Play up to 12 games simultaneously</li>
    <li>Create up 15 public and private games simultaneously</li>
    <li>Play without advertisements</li>
    <li>Link your account with Discord to gain the Wizard role</li>
    <li>My eternal thanks :)</li>
</p>

<p>You will be a wizard forever!</p>

<p>
    Many Thanks,<br>
    Luke Perkin<br>
    Locogame Ltd
</p>

<p>P.s. If the game servers shut down in the future (hopefully not) I will open source all the server and client code
    for Kitten Kingdoms with a permissive licence.
</p>