<p>
    You can raise troops from counties into armies from the county panel. Click on a county you control and then press one
    of the raise army buttons. The 'xx%' button allows you to manually enter how many troops you want in an army.
</p>
<img src="img/hints/raisearmy.jpeg">
<p>
    To give the army orders, select the army from the county panel or your kitten's panel.
</p>
<img src="img/hints/selectarmy.jpeg">
<p>
    The army panel shows you how much the upkeep is per turn and the buttons for moving the army, standing the army down and
    <a href="#hint/raze">razing</a> the county its in.
</p>
<img src="img/hints/armypanel.jpeg">
<p>
    To move an army, press 'set move orders' and then select the counties you want it to move to. After every movement step
    an army must rest. If it moves to friendly territory it must rest for 2 turns, if it moves to enemy or neutral territory it must
    rest for 4 turns. You can tell if territory is friendly or not by the color of the border. A green border indicates friendly territory,
    a black border indicates neutral territory, an orange border indicates enemy territory and a red border is closed. Armies cannot move across
    closed borders.
</p>
<p>
    If an army moves to enemy or neutral territory it will battle. Simply put, the side with the most troops will win. Bear in mind the enemy might
    have a defensive bonus multiplier, which will multiply their effective troops, and you might have an attack bonus multiplier.
    Upon winning, and surviving, a battle you will gain control of the county. 
    The county your kitten is in will gain an additional defensive bonus (provided you control that county).
    When you capture a county where there are other kitten(s) you will <a href="#hint/imprison">imprison</a> one of them at random.
</p>
<img src="img/hints/battlereport.jpeg">
<p>
    Armies have an upkeep per turn. You can see your total military upkeep from your kitten's panel. If you cannot afford the upkeep you will lose
    troops every turn.
</p>
<img src="img/hints/armycost.jpeg">