<p>
    Kitten Kingdoms is a game of diplomacy. Bolt-ons are diplomatic actions you can attach to messages.
    For example you can <strong>offer money</strong> or <strong>request they swear fealty</strong>.
    The receive will be able to either accept or deny these.
</p>
<img src="img/hints/boltonexample.jpeg">
<p>
    The <strong>ultimatum</strong> switch changes how the receiver may accept. With ultimatum turned on, the receiver can only
    accept all the bolt-ons in the message, or decline all of them. With it switched off they can pick and choose which to 
    accept and deny.
</p>
<p>
    Bolt-ons will expire after 24 turns, at which point all of them will be automatically declined.
</p>
<p>
    Some bolt-ons, typically those that trade physical items, require both kittens to be in the same county.
    Some bolt-ons are <a href="#hint/pacts">pacts</a>, these are deals that last two days.
</p>
<img src="img/hints/boltons.png">