<p>
    Every kitten has a limit to how many counties they can control. By default, the maximimum number of
    counties you can control is <strong>six</strong>. You can raise this limit by <a href="#hint/fealty">swearing fealty</a> to
    another kitten and making certain <a href="#hint/items">items</a>.
</p>
<p>
    When you have <a href="#hint/fealty">sworn fealty</a> to another kitten, the limit is increased by 1 for every <a href="#hint/fealty">vassal</a>
    the overlord has.
</p>
<p>
    If you go over the county limit you will be fined a hefty amount every turn. If you cannot afford the fine the citizens will revolt and 
    the county will return to neutral. This happens randomly until you are under the limit.
    You can stay under the limit by <a href="#hint/raze">razing</a> counties.
</p>