<p>
    The size of a county indicates how good the <a href="#hint/economy">economy</a> is and how many troops it recruits.
    A <strong>size 3</strong> county will generate <strong>+3</strong>btc and recruit <strong>3 troops</strong> per turn.
    However, the size does not affect how many science points it generates. This is always <strong>+1</strong> per turn.
</p>
<p>
    Bear in mind that other factors will change the 
    <a href="#hint/economy">economy</a>, <a href="#hint/military">military</a> and <a href="#hint/science">science</a>. 
    For example <a href="#hint/specialists">specialists</a> and <a href="#hint/hazards">hazards</a>.
</p>