<p>
    You can denounce other kittens from the newsfeed panel. Denouncing a kitten will reduce the economy of all their counties by -1 for 24 turns.
</p>
<p>
    You can only denounce kittens after turn 50, and there is a 24 turn cooldown between denounces.
</p>