<p>
    Every kitten has desires. You satisfy your own kitten's desires to score points and prevent others from doing the same.
    Some desires are harder to complete than others and will reward more as a result.
</p>
<p>
    When you complete a desire you can select your next desire, out of a selection of two. In some cases one of those desires will
    be an <strong>more difficult</strong> version of the one you just satisfied.
</p>
<p>
    Some desires require you to perform an action against another kitten. For example the murder desire requires you to succesfully plot
    to murder a specific kitten. This plot must be completed by yourself. Someone else killing your target before you does not count. If
    this happens you will not score any points but will be given the choice to select a new desire.
</p>