<p>
    Economy is the currency in this game. Every county has an economy proportional to its <a href="#hint/county_size">size</a>.
</p>
<p>
    Every 24 turns your kitten collects the money from every county it owns into its treasury. Money in a kittens treasury can then be 
    used to barter with other kittens, pay for army upkeep, pay for plots and pay for the upkeep of your children.
</p>