<div class="content">
<p>
    These kittens live in a feudal society. Any kitten can swear fealty to anyone. When you you swear fealty to another kitten you become their vassal
    and they become your overlord. Being a vassal has a specific contract:
</p>
<ul>
    <li>Vassals pay <a href="#hint/taxes">income tax</a> every day</li>
    <li>Vassals have free movement through their overlords territory</li>
    <li>Vassals cannot attack their overlord</li>
    <li>Vassals <strong>can</strong> attack their overlords' overlord</li>
    <li>Vassals can attack other vassals</li>
    <li>Vassals gain +1 county limit for every vassal their overlord has</li>
</ul>
<p>
    Being an overlord has a specific contract:
</p>
<ul>
    <li>Overlords gain <a href="#hint/taxes">income tax</a> from all their vassals every day</li>
    <li>Overlords have free movement through their vassals territories</li>
    <li>Overlords cannot attack their vassals</li>
    <li>Overlords <strong>can</strong> attack their vassals' vassals</li>
    <li>Overlords gain +1 county limit for every vassal</li>
</ul>
<p>
    You cannot break fealty until 2 days after you bent the knee.
</p>
</div>