<p>
    Your kitten's focus gives you a boost to either 
    <a href="#hint/economy">economy</a>, <a href="#hint/military">military</a> or <a href="#hint/science">science</a>.
    You can change your focus every 3 days.
</p>
<p>
    The <strong>economy focus</strong> will give a <strong>+10 economy bonus</strong> to your kitten. 
    It will also give you a <strong>+2% income tax bonus</strong> as overlord.
</p>
<p>
    The <strong>military focus</strong> will give a <strong>+1x attack bonus multiplier</strong> and give you a <strong>+1x defense bonus multiplier</strong>.
</p>
<p>
    The <strong>science focus</strong> will give a <strong>+3 science bonus</strong> to your kitten and give your more accurate intel.
    By default, any resource counters in counties not controlled by your house will be rounded up to the nearest 150.
    The science focus will show counters rounded up to the nearest 25.
</p>