<p>
    Some counties have hazards. These will heavily reduce the production of one of the three resources. The only way to remove
    a hazard is to <a href="#hint/raze">raze</a> the county, which removes all hazards and specialists! You must then rebuild
    the county so that it can produce resources again.
</p>
<img src="img/hints/hazard.jpeg">