<p>
    When a kitten dies, the eldest child - not already controlled by another player - will inherit all money, land, armies and books.
    If there is no suitable child then the heir will be the eldest sibling, not already controlled by another player.
    If a player's kitten dies with no heir they are eliminated from the game.
</p>
<p>
    You need to <a href="#hint/marriage">marry</a> to have children.
</p>