<p>
    When you capture a county with a kitten, or multiple kittens, at that location, you will imprison one of them at random.
    An imprisoned kitten cannot move, collect taxes or send taxes to thier overlord.
    You can release a prisoner by sending the kitten a message with the 'release prisoner' <a href="#hint/boltons">bolt-on</a>.
    You can also transfer ownership of a prisoner via the 'offer prisoner' <a href="#hint/boltons">bolt-on</a>.
</p>
<p>
    If you capture a county that already prisoner at the location, you will release all of them, before going on to capture one of them at random.
</p>