<p>
    Marriage allows kittens to have children, a neccesity to survive your dynasty and stay in the game.
    To marry another kitten you attach the 'Propose Marraige' <a href="#hint/boltons">bolt-on</a> to a message,
    which then must then accept.
</p>
<p>
    Married couples both gain a <strong>+5btc</strong> to their treasury every turn.
</p>
<p>
    To have children you need to both be in the same county. You don't need to do anything else, the kittens do the rest.
    Your eldest child will be your <a href="#hint/heir">heir</a>.
</p>