<p>
    Military indicates how many troops you have at that county. The military counter on a kitten's profile indicates how many troops
    they have across all their counties. You can raise military troops into <a href="#hint/armies">armies</a> which can then be moved
    across counties and battle other counties.
</p>
<p>
    There is a limit to how many troops a county can hold, which is 300 troops per its county <a href="#hint/county_size">size</a>.
</p>