<p>
    Two kittens can form a pact that lasts two days. To form a pact you attach one of the pact <a href="#hint/boltons">bolt-ons</a> to a message.
</p>
<img src="img/hints/pactboltons.jpeg">
<p>
    The possible pacts are: 'No Plotting Pact', 'Open Borders Pact', 'Closed Borders Pact', 'Science Pact' and 'Military Pact'.
</p>
<p>
    The <strong>No Plotting Pact</strong> prevents both kittens from plotting against each other for two days.
</p>
<p>
    The <strong>Open Borders Pact</strong> allows both kitten's to move armies through their territory for two days. This will cancel any previous closed borders pact.
</p>
<p>
    The <strong>Closed Borders Pact</strong> prevents both kitten's armies from moving through their territory for two days. This will cancel any previous open borders pact.
</p>
<p>
    The <strong>Science Pact</strong> gives both kittens a <strong>+1 science bonus</strong> to all their counties for two days.
</p>
<p>
    The <strong>Military Pact</strong> gives both kittens a <strong>+3 military bonus</strong> to all their counties for two days.
</p>