<p>
    Plotting allows you to attempt various actions against another kitten. For example, stealing money from them.
    Plotting has risks however. First of all it costs money, the more dangerous the plot, the more it costs. Secondly,
    a plot can fail.
</p>
<p>
    Every plot has four possible outcomes. The best outcome is <strong style="color:#23d160">success</strong>.
    When you succeed no-one is alerted that the plotting ever
    happened. This works best when there are other kittens at the same location. If you succesfully murder someone no-one will know who the
    culprit is. The next best outcome is a <strong style="color:#12a040">public success</strong>. 
    When this happens the victim is alerted and an article about the plot
    will appear in the newsfeed for everyone to see. 
    The final two outcomes are <strong style="color:#ff3860">failure</strong> and <strong style="color:#dd2750">public failure</strong>. 
    When you fail you do not get the money you spent back.
</p>
<p>
    There are items that will affect the chances of those four outcomes.
</p>
