<p>
    To raze a county you need an army in that county, select the army and then click raze. The raze button will be disabled if
    the army is not large enough. When razing the army used will be consumed in the process.
</p>
<img src="img/hints/raze.png">
<p>
    A razed county will not generate any resources nor will it count towards your <a href="#hint/county_limit">county limit</a>.
    Razing a county will also destroy all its <a href="#hint/specialists">specialists</a> and <a href="#hint/hazards">hazards</a>.
</p>
<p>
    A county can be rebuilt from the county panel. It will cost money proportional to its size.
</p>