<p>
    Every county generates science every turn. Science is used to make <a href="#hint/items">items</a>.
    You don't collect science like you do with <a href='#hint/economy'>economy</a>, it is immediately applied to
    your current research each turn.
</p>