<p>
    You score points by satisfying <a href="#hint/desires">desires</a>.
    Every county you control also gives you <strong>2 * county size</strong> points per turn.
    Every family member also gives you 3 points per turn.
</p>