<p>
    Some counties have <strong>specialists</strong>. These are special cats that either increase that county's
    <a href="#hint/economy">economy</a>, <a href="#hint/military">military</a> or <a href="#hint/science">science</a>.
</p>
<img src="img/hints/specialist.jpeg">
<p>
    Specialists cannot be moved or traded and will last the whole game, unless you <a href="#hint/raze">raze</a> the county.
    When the county is razed the specialists are gone forever.
</p>