<p>
    Every 24 turns, all kittens collect taxes from their counties in to their treasury. If the kitten is an overlord they also
    collect <a href="#hint/taxes">income tax</a> from all their vassals.
</p>