<p>
    Vassals must pay income tax to their overlord every day. This tax comes out of the income they would receive from their counties.
    An overlord with the <a href="#hint/focus">economy focus</a> will 
    have a <strong>7% income tax</strong>, otherwise they have a <strong>5% income tax</strong>.
</p>
<p>
    The tax rate on your kitten's panel shows <strong>your tax rate as overlord</strong>, not your overlord's tax rate.
</p>
<p>
    There are items that increase or decrease an overlords tax rate.
</p>