<p>
    Treasure appears in some counties. You can loot the treasure by taking control of the county with an <a href="#hint/armies">army</a>.
    The loot could be money or an item.
</p>
<img src="img/hints/treasure.jpeg">