<template>
    <div id="app">
        <div v-if="receivedGameState" id="game">
            <nav class="navbar">
                <div class="navbar-brand">
                    
                    <div class="navbar-item">
                        <b-field grouped>
                            <p class="control" v-for="cat in $store.getters.myCharacters" :key="cat.guid">
                            <a class="button is-inverted" 
                                :class="{'is-primary': activeCharacter == cat.guid}"
                                @click="selectActiveCharacter(cat.guid)"
                                >
                                <img :src="$store.getters.characterPhoto(cat.guid)">
                            </a>
                            </p>
                        </b-field>
                    </div>
                    
                    <hr class="navbar-divider">
                    <div class="navbar-burger" @click="menuDropdownActive = !menuDropdownActive" :class="{'is-active': menuDropdownActive}">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </div>
                
                <div class="navbar-menu" :class="{'is-active': menuDropdownActive}">
                    <div class="navbar-item">
                        <nav class="level is-mobile menu-stats">
                            <div class="level-item has-text-centered">
                                <div>
                                <p class="heading">Taxes <hint name="tax_turn"></hint></p>
                                <p class="title is-6">{{turnsToIncome}}</p>
                                </div>
                            </div>
                            <div class="level-item has-text-centered">
                                <div>
                                <p class="heading">Turn</p>
                                <p class="title is-6">{{$store.getters.turn}}/{{numberOfTurns}}</p>
                                </div>
                            </div>
                            <div class="level-item has-text-centered">
                                <div>
                                <p class="heading">Place</p>
                                <p class="title is-6">{{place}}/{{$store.state.gameState.players.length}}</p>
                                </div>
                            </div>
                            <div class="level-item has-text-centered">
                                <div>
                                <p class="heading">Score <hint name="scoring"></hint></p>
                                <p class="title is-6">{{score}}</p>
                                </div>
                            </div>
                        </nav>
                    </div>
                    <a class="navbar-item has-text-centered is-tab badge is-on-menu is-white" :data-badge="unreadNewsCount" @click="setCurrentView('newsfeed')" :class="{'is-active':currentView == 'newsfeed'}"><b-icon icon="newspaper-o"></b-icon><span>Newsfeed</span></a>
                    <a class="navbar-item has-text-centered is-tab badge is-on-menu is-white" :data-badge="unreadMessageCount()" @click="setCurrentView('messages')" :class="{'is-active':currentView == 'messages'}"><b-icon icon="envelope-o"></b-icon><span>Messages</span></a>
                    <a class="navbar-item has-text-centered is-tab" @click="setCurrentView('players')" :class="{'is-active':currentView == 'players'}"><b-icon icon="users"></b-icon><span>Players</span></a>
                    <a class="navbar-item has-text-centered is-tab" @click="gotoLobby()"><b-icon icon="sign-out"></b-icon><span>Lobby</span></a>
                    <a class="navbar-item has-text-centered is-tab" @click="nextTurn()" v-if="isDevelopmentMode"><span>Next Turn</span></a>
                </div>
            </nav>
            <section class="after-navbar">
                <character v-if="currentView == 'character' && selectedCharacter" :character="$store.getters.character(selectedCharacter)" :items="$store.getters.characterItems(selectedCharacter)"></character>
                <county v-else-if="currentView == 'county' && selectedCounty" :county="$store.getters.county(selectedCounty)"></county>
                <army v-else-if="currentView == 'army' && selectedArmy" :army="$store.getters.army(selectedArmy)"></army>
                <messages v-else-if="currentView == 'messages'"></messages>
                <newsfeed v-else-if="currentView == 'newsfeed'"></newsfeed>
                <plot v-else-if="currentView == 'plot'" :victim="$store.getters.character(selectedCharacter)" :items="$store.getters.characterItems(activeCharacter)"></plot>
                <players v-else-if="currentView == 'players'"></players>
            </section>
        </div>

        <template v-if="$store.getters.activeCharacter">
            <pre-game-setup v-if="turn === 0"></pre-game-setup>
            <desire-modal v-if="turn !== 0 && desireChoices.length > 0" :desire-choices="desireChoices"></desire-modal>
            <income v-if="player.showIncomeTurnInfo" :stats="$store.getters.activeCharacter.stats"></income>
        </template>
        <template v-else-if="receivedGameState">
            <eliminated></eliminated>
        </template>
    </div>
</template>

<script>
import Character from './character.vue';
import County from './county.vue';
import Army from './army.vue';
import Messages from './messages.vue';
import Newsfeed from './newsfeed.vue';
import Plot from './plot.vue';
import Players from './players.vue';
import { mapState } from 'vuex';
import PreGameSetup from './components/pre_game_setup.vue';
import DesireModal from './components/desire_modal.vue';
import Income from './components/income.vue';
import Eliminated from './components/eliminated.vue';

export default {
    components: {Character, County, Army, Messages, Newsfeed, Plot, Players, PreGameSetup, DesireModal, Income, Eliminated},
    data: function() {
        return {
            selectedCat: 'one',
            menuDropdownActive: false
        }
    },
    mounted() {
        let characterId = this.$urlParams('activeCat');
        if (characterId) {
            this.selectActiveCharacter(characterId);
        }
        if (this.$urlParams('showMessages')) {
            this.setCurrentView('messages');
        }
        this.$router.push('/');
    },
    watch: {
        '$route' (to, from) {
            if (to.params.name) {
                if (this.$store.state.hintDialog) {
                    this.$store.state.hintDialog.close();
                }
                let title = to.params.name.split('_').map(t => {
                    return t[0].toUpperCase() + t.slice(1);
                }).join(' ');
                this.$hint(title, to.params.name);
            }
        }
    },
    computed: {
        turn() {
            return this.$store.state.gameState.map.turn;
        },
        desireChoices() {
            let activeCharacter = this.$store.getters.activeCharacter;
            if (activeCharacter) {
                return activeCharacter.desireChoices || [];
            }
            return [];
        },
        turnsToIncome() {
            return this.$store.getters.nextIncomeTime;
        },
        isIncomeTurn() {
            return (this.$store.getters.turn % this.$store.state.gameState.config.incomeTurnInterval) === 0;
        },
        player() {
            return this.$store.state.gameState.player;
        },
        numberOfTurns() {
            return this.$store.state.gameState.config.maxTurns;
        },
        score() {
            return this.$store.state.gameState.player.score;
        },
        place() {
            return this.$store.state.gameState.players.findIndex(player => player.username == this.$store.state.username) + 1;
        },
        unreadNewsCount() {
            return this.$store.getters.unreadNewsCount || null;
        },
        unreadMessageCount() {
            return (guid) => {
                if (!guid) {
                    return this.$store.getters.unreadMessages(this.$store.state.activeCharacter).length || null;
                } else {
                    return this.$store.getters.unreadMessages(guid).length || null;
                }
            }
        },
        isDevelopmentMode() {
            return process.env.NODE_ENV === 'development';
        },
        ...mapState(['receivedGameState', 'activeCharacter', 'selectedCharacter', 'selectedCounty', 'selectedArmy', 'currentView'])
    },
    methods: {
        selectActiveCharacter( characterId ) {
            this.$store.commit("SELECT_ACTIVE_CHARACTER", characterId);
            let selected = this.$store.getters.character(this.selectedCharacter);
            let active = this.$store.getters.activeCharacter;

            if (selected && active && selected.guid == active.guid) {
                this.$store.commit('SELECT_CHARACTER', null);
            } else {
                this.$store.commit('SELECT_CHARACTER', characterId);
            }
        },  
        setCurrentView( view ) {
            this.menuDropdownActive = false;
            if (view == 'newsfeed') {
                this.$store.dispatch('READ_NEWS');
            }
            if (this.currentView == view) {
                this.$store.commit('SET_CURRENT_VIEW', null);
            } else {
                this.$store.commit('SET_CURRENT_VIEW', view);
            }
        },
        gotoLobby() {
            this.$store.dispatch("GAMESERVER_LOGOUT");
            window.location = "/lobby.html";
        },
        nextTurn() {
            if (process.env.NODE_ENV === 'development') {
                this.$store.dispatch("NEXT_TURN");
            }
        }
    }
}
</script>

<style lang="scss">
// Import Bulma's core
@import "~bulma/sass/utilities/_all";
@import "public/css/badge.sass";

html {
    background-color: lightblue;
}
#app {
    position: relative;
    z-index: 1;
}
.navbar {
    position: fixed !important;
    top: 0;
    left: 0;
    right: 0;
    z-index: 3;
}
.after-navbar {
    margin-top: 3.25rem;
}
.button span.name {
    padding: 0.4rem;
}
.navbar .level .heading {
    font-size: 0.6rem;
}
.navbar-menu {
    z-index: 3 !important;
}
.icon+span {
    padding: 0.25rem;
}
.menu-stats {
    min-width: 300px;
}
.dialog .modal-card-body p {
    margin-bottom: 1rem;
}

@media(min-width: 1008px) {
    /* .level {
        width: 100%;
    }
    .menu-stats {
        width: 200px;
    } */
}
</style>
