<template>
    <div class="container army">
        <a class="delete close-army" @click="close()" v-if="!$store.state.movingArmyId"></a>
        <div class="columns" v-if="army && !$store.state.movingArmyId">
            <div class="column has-text-centered">
                <h1 class="title is-3">{{army.troops}} Troop Army <hint name="armies"></hint></h1>
                <p  class="subtitle is-5">
                    Commanded by <character-button :character="owner" class="is-outlined is-dark is-small"></character-button> 
                    at <county-button :countyId="army.location"></county-button>.</p>
                <p v-if="army.cost">Costs you {{army.cost}}<b-icon icon="btc" size="is-small"></b-icon> per turn</p>
                <p v-if="army.attrition" class="has-text-danger">
                    {{army.attrition}} troops will quit every turn because you can't pay them
                </p>
            </div>
            <div class="column has-text-centered">
                <a v-if="!$store.state.movingArmyId" class="button is-primary" @click="addMoveOrder()">Set Move Orders</a>
                
                <a v-if="!$store.state.movingArmyId" class="button is-warning" @click="standDown()">Stand Down</a>
                <a v-id="!location.razed" :disabled="army.troops < this.razeTroopCost" class="button is-danger" @click="raze">
                    <b-tooltip :label="razeTooltip" position="is-bottom">
                    Raze County
                    </b-tooltip>
                </a>
                <hint name="raze"></hint>
                <template v-if="army.cooldown">
                    <hr>
                    <p>Resting for {{army.cooldown}} turns.</p>
                </template>
                <template v-if="army.standDownQueued">
                    <hr>
                    <p>Standing down...</p>
                </template>
                <template v-else-if="army.orders && army.orders.length > 0">
                    <hr>
                    <b-field grouped position="is-centered">
                        <p class="control" v-for="(order, i) in army.orders.slice(0,4)" :key="order">
                            <county-button :countyId="order"></county-button>
                            <b-icon v-if="i != army.orders.length-1" icon="arrow-right"></b-icon>
                        </p>
                    </b-field>
                </template>
            </div>
        </div>
        <div class="columns is-centered" v-else-if="army && $store.state.movingArmyId">
                <div class="column">
                    <p class="control pull-left">
                        <a v-if="$store.state.movingArmyId" class="button is-success" @click="commitMoveOrders()">Commit Orders</a>
                    </p>
                    <p class="control pull-right">
                        <a v-if="$store.state.movingArmyId" class="button is-danger" @click="cancelMoveOrders()">Cancel Orders</a>
                    </p>
                </div>
        </div>
        <div class="columns" v-else>
            <div class="column has-text-centered">
                <h1 class="title is-3">Army no longer exists.</h1>
            </div>
        </div>
    </div>  
</template>

<script>
import CharacterButton from './components/character_button.vue';
import CountyButton from './components/county_button.vue';
import PrettyNullFilter from './filters/prettyNull.vue';
export default {
    props: ['army'],
    mixins: [PrettyNullFilter],
    components: {CharacterButton, CountyButton},
    computed: {
        owner() {
            return this.$store.getters.character(this.army.owningCharacter);
        },
        location() {
            return this.$store.getters.county(this.army.location);
        },
        razeTooltip() {
            if (this.army.troops < this.razeTroopCost) {
                return `You need at least ${this.razeTroopCost} troops to raze this county.`;
            } else {
                return 'Removes all specialists, hazards and reduces all output to zero. The county will no longer count towards your county limit.';
            }
        },
        razeTroopCost() {
            return this.$store.getters.gameConstant('countyRazeTroops') * this.location.size;
        }
    },
    methods: {
        close() {
            if (this.army) {
                this.cancelMoveOrders();
            }
            this.$store.commit('SELECT_ARMY', null);
        },
        addMoveOrder() {
            this.$store.commit('SELECT_COUNTY', this.army.location);
            this.$store.commit('SELECT_ARMY', this.army.guid);
            this.$store.dispatch('PREPARE_MOVE_ARMY', this.army.guid);
            this.$forceUpdate();
        },
        commitMoveOrders() {
            this.$store.dispatch('COMMIT_MOVE_ARMY', this.army.guid);
            this.$forceUpdate();
        },
        cancelMoveOrders() {
            this.$store.dispatch('CANCEL_MOVE_ARMY', this.army.guid);
            this.$forceUpdate();
        },
        standDown() {
            this.$store.dispatch('STAND_DOWN_ARMY', this.army.guid);
            this.$forceUpdate();
        },
        raze() {
            this.$store.dispatch('RAZE_WITH_ARMY', this.army.guid);
            this.$forceUpdate();
        }
    }
}
</script>

<style>
.army {
    padding: 1.5rem;
    background: whitesmoke;
    width: 100%;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}
.close-army {
    position: absolute;
}
.army .subtitle {
    margin-top: -1rem !important;
}
.army .subtitle .button {
    margin-top: 0;
}
.army .level-item .subtitle {
    margin-top: 0.0rem !important;
}
</style>
