<template>
  <div class="container character">
    <a class="delete close-character" @click="close()"></a>
    <div class="tile is-ancestor">
        <div class="tile is-5 is-vertical is-parent">
            <div class="tile is-child content">
                <div class="columns is-tablet">
                    <div class="column has-text-centered">
                        <p class="title is-3">{{character.name}} {{character.house}} <span v-if="!character.alive">(dead)</span> <span v-if="!character.hasOwningPlayer">(bot)</span>
                            <a v-if="canRename" @click="rename"><b-icon icon="pencil"></b-icon></a>
                        </p>
                        <p class="subtitle is-6 name-subtitle">{{character.age}} turn{{character.age != 1 ? 's' : ''}} old
                            <span v-if="character.location">
                                <a @click="$store.dispatch('SELECT_COUNTY', {countyId: character.location, shouldMoveMap: true})">
                                at {{$store.getters.county(character.location).name}}
                                </a>
                            </span>
                            <span v-else class="button is-static is-small">Hidden</span>
                        </p>
                    </div>
                </div>
                <div class="columns is-tablet">
                    <div class="column is-half has-text-centered">
                        <img class="photo is-128x128" :src="photo">
                    </div>
                    <div class="column is-half">
                        <div class="field">
                            <p class="control">
                                <a class="button is-primary is-character-action" @click="composeMessage()">
                                    <b-icon icon="envelope-o"></b-icon><span>Message</span>
                                </a>
                            </p>
                            <p class="control" v-if="this.$store.getters.activeCharacter !== character">
                                <a class="button is-danger is-character-action" :disabled="!canPlot" @click="showPlot()">
                                    <b-icon icon="flash"></b-icon>
                                    <span>
                                        <b-tooltip :label="plotTooltip" position="is-bottom">
                                        Plot
                                        </b-tooltip>
                                    </span>
                                    <span v-if="character.cooldowns.plotting">({{character.cooldowns.plotting}})</span>
                                </a>
                            </p>
                            <p class="control" v-if="$store.getters.activeCharacter.overlord == character.guid">
                                <b-tooltip :label="breakFealtyTooltip">
                                    <a class="button is-warning is-character-action" :disabled="!canBreakFealty" @click="breakFealty">Break Fealty</a>
                                </b-tooltip>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        <!-- </div> -->
        
        <div class="tile is-child content" v-if="character.isVisible">
            <div class="level is-mobile">
                <div class="level-item has-text-centered">
                    <div>
                        <b-tooltip :label="economyTooltip" position="is-right" multilined>
                            <a class="heading button" :class="economyFocusClass" @click="changeFocus('money')" :disabled="focusDisabled">Economy</a>
                        </b-tooltip>
                        <p class="title">
                            <b-tooltip label="Money in treasury">
                                <span v-if="character.infoLevel == 2"><</span>{{character.money | prettyNull}}
                            </b-tooltip><b-icon icon="btc"></b-icon></p>
                        <p class="subtitle">
                            <b-tooltip :label="incomeBreakdown" position="is-right" multilined>
                            {{character.moneyRate | prettyNullRate}}/turn
                            </b-tooltip>
                        </p>
                    </div>
                </div>
                <div class="level-item has-text-centered">
                <div>
                    <b-tooltip :label="militaryTooltip" multilined>
                        <a class="heading button" :class="militaryFocusClass" @click="changeFocus('military')" :disabled="focusDisabled">Military</a>
                    </b-tooltip>
                    <p class="title">
                        <b-tooltip label="Total number of troops">
                            <span v-if="character.infoLevel == 2"><</span>{{character.totalTroops | prettyNull}}
                        </b-tooltip><b-icon icon="child"></b-icon>
                    </p>
                    <p class="subtitle"><b-tooltip label="Number of troops recruited each day">{{character.troopRate | prettyNullRate}}/turn</b-tooltip></p>
                </div>
                </div>
                <div class="level-item has-text-centered">
                <div>
                    <b-tooltip :label="scienceTooltip" position="is-left" multilined>
                        <a class="heading button" :class="scienceFocusClass" @click="changeFocus('science')" :disabled="focusDisabled">Science</a>
                    </b-tooltip>
                    <hint name="focus"></hint>
                    <p class="title">
                        <b-tooltip label="Current Science Points">
                            {{character.science | prettyNull}}
                        </b-tooltip><b-icon icon="flask"></b-icon>
                    </p>
                    <p class="subtitle">
                        <b-tooltip :label="scienceBreakdown" position="is-left" multilined>
                        {{character.scienceRate | prettyNullRate}}/turn
                        </b-tooltip>
                    </p>
                </div>
            </div>
        </div>
    </div>
  </div>
  <div class="tile is-parent" v-if="character.isVisible">
    <div class="tile is-child">
        <b-tabs v-model="$store.state.activeCharacterTab" expanded>
            <b-tab-item label="" icon="heart">
                <template v-if="character.desires">
                <p class="title is-5 has-text-centered">Desires<hint name="desires"></hint></p>
                <div class="box has-text-centered" v-for="desire in desires" :key="desire.key">
                    <p class="title is-6">{{desire.title}}</p>
                    <p class="subtitle is-7 has-text-success">{{desire.score}} points</p>
                    <component :is="parseMessage(desire.description)" 
                        @county="guid => selectCounty(guid)"
                        @character="guid => selectCharacter(guid)"
                    ></component>
                    <p v-if="desire.statKey">
                        <span style="position: relative; top: 21px; color: white;" class="is-7">{{character.stats[desire.statKey] || 0}}/{{desire.target}}</span>
                        <progress class="progress is-primary is-medium" :value="character.stats[desire.statKey] || 0" :max="desire.target"></progress>
                    </p>
                </div>
                </template>
                <template v-else>
                    <p class="title is-5 has-text-centered">Hidden Information</p>
                    <p class="has-text-centered"><strong>Marry</strong> to view.</p>
                </template>
            </b-tab-item>
            <b-tab-item label="" icon="globe">
                <div class="columns column-buttons is-multiline">
                    <div class="column is-4">
                        <p class="is-small has-text-centered has-text-grey-light">Tax Rate <hint name="taxes"></hint></p>
                        <p class="is-small has-text-centered has-text-info" v-if="character.taxRate !== undefined">{{character.taxRate * 100 | percent}}%</p>
                        <p class="is-small has-text-centered has-text-grey-light" v-else>N/A</p>
                    </div>
                    <div class="column is-4">
                        <p class="is-small has-text-centered has-text-grey-light">Defense, Attack</p>
                        <p class="is-small has-text-centered has-text-info">{{character.defendMultiplier}}x, {{character.attackMultiplier}}x</p>
                    </div>
                    <div class="column is-4">
                        <p class="is-small has-text-centered has-text-grey-light">Army cost</p>
                        <p class="is-small has-text-centered has-text-info">{{totalArmyCost}}btc / turn</p>
                    </div>
                    <div class="column is-4">
                        <p class="is-small has-text-centered has-text-grey-light">Next County Income</p>
                        <p class="is-small has-text-centered has-text-info">{{projectedCountyIncome}}btc</p>
                    </div>
                    <div class="column is-4">
                        <p class="is-small has-text-centered has-text-grey-light">Land {{nonRazedCounties.length}}/{{character.maxCounties}} <hint name="county_limit"></hint></p>
                        <county-button v-for="county in counties" :key="county.guid" :countyId="county.guid" :class="{'is-danger': county.razed}"></county-button>
                        <span v-if="counties.length == 0" class="button is-static is-small">None</span>
                    </div>
                    <div class="column is-4">
                        <p class="is-small has-text-centered has-text-grey-light">Armies {{armies.length}}/{{character.maxArmies}} <hint name="armies"></hint></p>
                        <a v-for="army in armies" :key="army.guid" class="button is-small is-primary is-location" @click="selectArmy(army)">{{army.troops}} @ {{army.locationName}}</a>
                        <span v-if="armies.length == 0" class="button is-static is-small">None</span>
                    </div>
                </div>
            </b-tab-item>
            <b-tab-item label="" icon="users">
                <div class="columns column-buttons is-multiline">
                    <div class="column is-4"  v-if="imprisoner">
                        <p class="is-small has-text-centered has-text-grey-light">Imprisoner <hint name="imprison"></hint></p>
                        <character-button :character="imprisoner" null-text="none" class="is-small is-primary"></character-button>
                    </div>
                    <div class="column is-4">
                        <p class="is-small has-text-centered has-text-grey-light">Heir <hint name="heir"></hint></p>
                        <character-button :character="heir" null-text="none" class="is-small is-primary"></character-button>
                    </div>
                    <div class="column is-4">
                        <p class="is-small has-text-centered has-text-grey-light">Spouse <hint name="marriage"></hint></p>
                        <character-button :character="spouse" null-text="unmarried" class="is-small is-primary"></character-button>
                    </div>
                    <div class="column is-4">
                        <p class="is-small has-text-centered has-text-grey-light">Overlord <hint name="fealty"></hint></p>
                        <character-button :character="overlord" null-text="independent" class="is-small is-primary"></character-button>
                    </div>
                    <div class="column is-4">
                        <p class="is-small has-text-centered has-text-grey-light">Vassals <hint name="fealty"></hint></p>
                        <character-button 
                            v-for="vassal in vassals" 
                            :key="vassal.guid" 
                            :character="vassal" 
                            class="is-small is-primary">
                        </character-button>
                        <a v-if="vassals.length == 0" class="button is-small is-static">none</a>
                    </div>
                    <div class="column is-4">
                        <p class="is-small has-text-centered has-text-grey-light">Children</p>
                        <character-button 
                            v-for="child in children" 
                            :key="child.guid" 
                            :character="child" 
                            class="is-small is-primary">
                        </character-button>
                        <a v-if="children.length == 0" class="button is-small is-static">none</a>
                    </div>
                    <div class="column is-4">
                        <p class="is-small has-text-centered has-text-grey-light">Siblings</p>
                        <character-button 
                            v-for="sibling in siblings" 
                            :key="sibling.guid" 
                            :character="sibling" 
                            class="is-small is-primary">
                        </character-button>
                        <a v-if="siblings.length == 0" class="button is-small is-static">none</a>
                    </div>
                    <div class="column is-4">
                        <p class="is-small has-text-centered has-text-grey-light">Parents</p>
                        <character-button 
                            v-for="parent in parents" 
                            :key="parent.guid" 
                            :character="parent" 
                            class="is-small is-primary">
                        </character-button>
                        <a v-if="parents.length == 0" class="button is-small is-static">none</a>
                    </div>
                    <div class="column is-4" v-if="prisoners.length > 0">
                        <p class="is-small has-text-centered has-text-grey-light">Prisoners <hint name="imprison"></hint></p>
                        <character-button 
                            v-for="prisoner in prisoners" 
                            :key="prisoner.guid" 
                            :character="prisoner" 
                            class="is-small is-primary">
                        </character-button>
                    </div>
                    <div class="column is-4">
                        <p class="is-small has-text-centered has-text-grey-light">Pacts <hint name="pacts"></hint></p>
                        <a class="button is-primary is-medium badge" 
                            v-for="(pact, i) in pacts" :key="i" 
                            :data-badge="pact.expires - $store.getters.turn"
                            @click="selectCharacter(pact.target)">
                            <span style="font-size:0.75rem">
                            {{pactNames[pact.pactType]}}
                            <br>
                            {{$store.getters.character(pact.target).name}} {{$store.getters.character(pact.target).house}}
                            </span>
                        </a>
                        <a class="button is-static is-small" v-if="pacts.length == 0">
                            none
                        </a>
                    </div>
                </div>
            </b-tab-item>
            <b-tab-item label="" icon="cogs">
                <template v-if="character.research">
                <div class="box">
                    <b-field grouped>
                        <b-select v-model="currentResearchType" :disabled="!character.isOwner" expanded>
                            <option v-for="(research, i) in character.research" :key="research.type" :value="research.type">
                                {{research.name}} <small>[{{research.progress}}/{{research.cost}}]</small>
                            </option>
                        </b-select>
                    </b-field>
                    <progress class="progress is-primary" :value="currentResearch.progress" :max="currentResearch.cost"></progress>
                    <p class="has-text-info has-text-centered">
                        <b-icon icon="info" size="is-medium"></b-icon><span class="">{{currentResearch.description}}</span>
                    </p>
                </div>
                <div class="columns is-multiline items-list">
                    <div class="column is-6" v-for="(item, i) in items" :key="i">
                        <item-potion :item="item" :isOwner="character.isOwner" 
                            :canMix="items.find(other => item.combinesWith ? other.id === item.combinesWith.potion : false)" 
                            @activate="item => activateItem(item)"
                            @mix="item => mixPotion(item)"
                            v-if="item.type === 'potion'"></item-potion>
                        <item-building :item="item" :isOwner="character.isOwner" 
                            @activate="item => activateItem(item)"
                            v-else-if="item.type === 'building'"></item-building>
                        <item-book :item="item" :isOwner="character.isOwner" 
                            @activate="item => activateItem(item)"
                            @deactivate="item => deactivateItem(item)"
                            v-else-if="item.type === 'book'"></item-book>
                    </div>
                </div>
                </template>
                <template v-else>
                    <p class="title is-5 has-text-centered">Hidden Information</p>
                    <p class="has-text-centered"><strong>Marry</strong> to view.</p>
                </template>
            </b-tab-item>
        </b-tabs>
    </div>
  </div>
  <div class="tile is-parent has-text-centered" v-else>
      <div class="tile is-child">
        <p class="title is-5">Hidden Information</p>
        <p class="">Outside of visibility range.</p>
      </div>
  </div>
</div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex';
import PrettyNullFilter from './filters/prettyNull.vue';
import CountyButton from './components/county_button.vue';
import CharacterButton from './components/character_button.vue';
import DesireHelper from './helpers/desire';
import MessageParser from './helpers/message_parser';
import RenameHelper from './helpers/rename';
import ItemPotion from './components/items/potion_item.vue';
import ItemBook from './components/items/book_item.vue';
import ItemBuilding from './components/items/building_item.vue';

export default {
    props: ['character', 'items'],
    mixins: [PrettyNullFilter, DesireHelper, MessageParser, RenameHelper],
    components: {CountyButton, CharacterButton, ItemPotion, ItemBook, ItemBuilding},
    data: function() {
        return {
            activeTab: 1,
            pactNames: {
                NO_PLOTTING: 'No Plotting',
                OPEN_BORDERS: 'Open Borders',
                CLOSED_BORDERS: 'Closed Borders',
                SCIENCE: 'Science',
                MILITARY: 'Military'
            }
        }
    },
    filters: {
        percent( val ) {
            return val.toPrecision(1);
        }
    },
    computed: {
        photo() {
            return window.characterPhotoProvider(this.character.guid, 'jpg', true, "128x128");
        },
        counties() {
            return this.$store.getters.characterCounties(this.character.guid);
        },
        nonRazedCounties() {
            return this.counties.filter(c => !c.razed);
        },
        armies() {
            return this.$store.getters.characterArmies(this.character.guid);
        },
        totalArmyCost() {
            return this.armies.reduce((sum, army) => {
                return army.cost + sum;
            }, 0);
        }, 
        children() {
            return this.$store.getters.characterChildren(this.character.guid);
        },
        siblings() {
            return this.$store.getters.characterSiblings(this.character.guid);
        },
        parents() {
            return this.character.parents.map(parent => this.$store.getters.character(parent));
        },
        vassals() {
            return this.$store.getters.characterVassals(this.character.guid);
        },
        overlord() {
            return this.$store.getters.character(this.character.overlord);
        },
        spouse() {
            return this.$store.getters.character(this.character.spouse);
        },
        heir() {
            return this.$store.getters.character(this.character.heir);
        },
        imprisoner() {
            return this.$store.getters.character(this.character.imprisoner);
        },
        prisoners() {
            return this.$store.getters.characterPrisoners(this.character.guid);
        },
        focusCooldown() {
            return this.character.cooldowns.focus;
        },
        focusDisabled() {
            return this.focusCooldown > 0 || !this.character.isOwner;
        },
        economyFocusClass() {
            let isFocus = this.character.focus == 'money';
            return {
                'is-success': isFocus,
                'is-static': (this.focusCooldown > 0 || !this.character.isOwner ) && !isFocus
            }
        },
        militaryFocusClass() {
            let isFocus = this.character.focus == 'military';
            return {
                'is-success': isFocus,
                'is-static': (this.focusCooldown > 0 || !this.character.isOwner ) && !isFocus
            }
        },
        scienceFocusClass() {
            let isFocus = this.character.focus == 'science';
            return {
                'is-success': isFocus,
                'is-static': (this.focusCooldown > 0 || !this.character.isOwner ) && !isFocus
            }
        },
        economyTooltip() {
            if (this.focusCooldown == 0 && this.character.isOwner) {
                return `Select this focus to increase your income.`;
            } else if(!this.character.isOwner) {
                return `Increases their income.`;
            } else {
                return `Can select focus in ${this.focusCooldown} turns.`;
            }
        },
        militaryTooltip() {
            if (this.focusCooldown == 0 && this.character.isOwner) {
                return `Select this focus to increase the rate your counties recruit troops and also increase your attack/defence bonus.`;
            } else if(!this.character.isOwner) {
                return `Increases the rate counties recruit troops and also increases their attack/defence bonus.`;
            } else {
                return `Can select focus in ${this.focusCooldown} turns.`;
            }
        },
        scienceTooltip() {
            if (this.focusCooldown == 0 && this.character.isOwner) {
                return `Select this focus to research and build blueprints faster.`;
            } else if(!this.character.isOwner) {
                return `Increases the rate at which they discover and build blueprints.`;
            } else {
                return `Can select focus in ${this.focusCooldown} turns.`;
            }
        },
        desires() {
            if (this.character.desires) {
                return this.parseDesires(this.character.desires);
            }
            return [];
        },
        currentResearchType: {
            get() {
                return this.currentResearch.type;
            },
            set( type ) {
                this.$store.dispatch("CHANGE_RESEARCH", {
                    characterId: this.character.guid,
                    researchType: type
                });
            }
        },
        currentResearch() {
            if (this.character.activeResearchIndex >= 0) {
                return this.character.research[this.character.activeResearchIndex];
            } else {
                return this.character.research[0];
            }
        },
        incomeBreakdown() {
            let parts = [];
            for (let key in this.character.moneyRateBreakdown) {
                if (this.character.moneyRateBreakdown[key]) {
                    parts.push(`${key}: ${this.character.moneyRateBreakdown[key]}`);
                }
            }
            return parts.join(', ');
        },
        scienceBreakdown() {
            let parts = [];
            for (let key in this.character.scienceRateBreakdown) {
                if (this.character.scienceRateBreakdown[key]) {
                    parts.push(`${key}: ${this.character.scienceRateBreakdown[key]}`);
                }
            }
            return parts.join(', ');
        },
        canRename() {
            return this.character.isOwner && this.character.age <= 16;
        },
        canPlot() {
            let activeCharacter = this.$store.getters.activeCharacter;
            return activeCharacter
                && !activeCharacter.effects.find(pact => pact.pactType === 'NO_PLOTTING' && pact.target === this.character.guid)
                && !activeCharacter.cooldowns.plotting
                && activeCharacter.guid != this.character.guid
                && activeCharacter.location 
                && this.character.location 
                && activeCharacter.location == this.character.location;
        },
        isOverlordToActivePlayer() {
            let activeCharacter = this.$store.getters.activeCharacter;
            return activeCharacter && activeCharacter.overlord == this.character.guid;
        },
        canBreakFealty() {
            let activeCharacter = this.$store.getters.activeCharacter;
            return this.isOverlordToActivePlayer && !activeCharacter.cooldowns.breakFealty;
        },
        breakFealtyTooltip() {
            if (this.isOverlordToActivePlayer) {
                let activeCharacter = this.$store.getters.activeCharacter;
                let cooldown = activeCharacter.cooldowns.breakFealty;
                if (!cooldown) {
                    return `${activeCharacter.name} ${activeCharacter.house} 
                        will break fealty with ${this.character.name} ${this.character.house}`;
                } else {
                    return `Can break fealty in ${cooldown} turns.`;
                }
            }
            return '';
        },
        fuzzyTooltip() {
            if (this.character.infoLevel == 2) {
                return `+/- 100`;
            } else {
                return '';
            }
        },
        plotTooltip() {
            let activeCharacter = this.$store.getters.activeCharacter;
            if (activeCharacter.cooldowns.plotting) {
                return `You must wait ${activeCharacter.cooldowns.plotting} turns until you can plot again`;
            } else if(activeCharacter.effects.find(pact => pact.pactType === 'NO_PLOTTING' && pact.target === this.character.guid)) {
                return 'You have a no plotting pact';
            } else if (!this.canPlot) {
                return 'Must be at same location';
            }
        },
        pacts() {
            return this.character.effects.filter(effect => effect.type === 'pact');
        },
        projectedCountyIncome() {
            let turn = this.$store.state.gameState.map.turn;
            let incomeInterval = this.$store.state.gameState.config.incomeTurnInterval;
            let turnsUntilIncome = incomeInterval - (((turn % incomeInterval)/incomeInterval) * incomeInterval);
            return this.$store.getters.characterCounties(this.character.guid).reduce((sum, county) => {
                sum += county.money;
                sum += county.moneyRate * turnsUntilIncome;
                return sum;
            }, 0);
        }
    },
    methods: {
        close() {
            this.$store.commit('SELECT_CHARACTER', null);
        },
        changeFocus( focus ) {
            if (this.character.cooldowns.focus == 0 && this.character.isOwner && focus != this.character.focus) {
                this.$store.dispatch('SET_FOCUS', {
                    characterId: this.character.guid,
                    focus: focus
                });
            }
        },
        composeMessage() {
            this.$store.commit("COMPOSE_MESSAGE", {
                characterId: this.character.guid,
                characterName: this.character.name + ' ' + this.character.house
            });
        },
        selectArmy( army ) {
            if (army.isOwner) {
                this.$store.commit("SELECT_ARMY", army.guid);
            } else {
                this.$store.dispatch("SELECT_COUNTY", {countyId: army.location, shouldMoveMap: true});
            }
        },
        onDesireClick( desire ) {
            switch(desire.targetType) {
                case 'character':
                    this.$store.commit("SELECT_CHARACTER", desire.target);
                    break;
                case 'county':
                    this.$store.dispatch("SELECT_COUNTY", {countyId: desire.target, shouldMoveMap: true});
                    break;
            }
        },
        activateItem( item ) {
            this.$store.dispatch('ACTIVATE_ITEM', {itemId: item.guid});
        },
        deactivateItem( item ) {
            this.$store.dispatch('DEACTIVATE_ITEM', {itemId: item.guid});
        },
        mixPotion( item ) {
            this.$store.dispatch('MIX_POTION', {itemId: item.guid});
        },
        rename() {
            this.renameFirstName(this.character);
        },
        showPlot() {
            if (this.canPlot)
            {
                this.$store.commit('SET_CURRENT_VIEW', 'plot');
            }
        },
        breakFealty() {
            if (this.canBreakFealty) {
                this.$store.dispatch('BREAK_FEALTY', {characterId:this.$store.state.activeCharacter});
            }
        }
    }
}
</script>

<style>
.character {
    overflow-y: auto;
    padding: 1.5rem;
    background: whitesmoke;
    width: 100%;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}
.close-character {
    position: absolute;
    left: 1rem;
}
.photo {
    border-radius: 15%;
}
.name {
    float: left;
}
/* .subtitle {
    margin-top: -1.8rem !important;
} */
.is-character-action {
    width: 100%;
}
.is-128x128 {
    width: 128px;
    height: 128px;
}
.column-buttons .button {
    width: 100%;
}
.column-buttons .button+.button {
    margin: 0.25rem 0;
}
.group-buttons .button {
    margin: 0.25rem 0;
}
.is-clickable {
    cursor: pointer;
}
.tab-item {
    padding: 1rem;
}
.items-list {
    max-height: 350px;
    overflow-y: scroll;
}
</style>
