<template>
    <div class="container county">
        <a class="delete close-county" @click="close()"></a>
        <div class="columns">
            <div class="column has-text-centered">
                <h1 class="title is-2">{{county.name}} <a v-if="canRename" @click="rename()"><b-icon icon="pencil"></b-icon></a></h1>
                <p v-if="county.isVisible" class="subtitle is-5">Controlled by <character-button :character="owner" class="is-outlined is-dark is-small"></character-button></p>
                <div class="level">
                    <div class="level-item">
                        <div class="tags">
                            <span class="tag is-dark" v-for="building in county.buildings" :key="building.id">
                                <b-tooltip :label="building.description" multilined>
                                {{building.name}}
                                </b-tooltip>
                                <hint name="building"></hint>
                            </span>
                            <span class="tag is-success" v-for="specialist in county.specialists" :key="specialist.name">
                                <b-tooltip :label="specialist.description">
                                {{specialist.name}}
                                </b-tooltip>
                                <hint name="specialists"></hint>
                            </span>
                            <span class="tag is-warning" v-if="county.hasTreasure">
                                <b-tooltip label="There's a treasure chest here. Take over the county to claim the loot.">
                                Treasure Chest
                                </b-tooltip>
                                <hint name="treasure"></hint>
                            </span>
                            <span class="tag is-danger" v-for="negative in county.negatives" :key="negative.name">
                                <b-tooltip :label="negative.description">
                                {{negative.name}}
                                </b-tooltip>
                                <hint name="hazards"></hint>
                            </span>
                            <span class="tag is-danger" v-if="county.razed">
                                <b-tooltip label="This county does not produce any resources and does not count towards the owners county limit." multilined>
                                    Razed
                                </b-tooltip>
                            </span>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="level is-mobile">
                    <div class="level-item has-text-centered">
                        <div>
                            <p class="heading">Size <hint name="county_size"></hint></p>
                            <p class="title">{{county.size}}</p>
                        </div>
                    </div>
                    <div class="level-item has-text-centered" v-if="county.isVisible">
                        <div>
                            <p class="heading">Economy <hint name="economy"></hint></p>
                            <p class="title">
                                <span v-if="county.infoLevel == 2"><</span>{{county.money | prettyNull}}
                            </p>
                            <p class="subtitle" v-if="county.moneyRate">{{county.moneyRate | prettyNullRate}}/turn</p>
                        </div>
                    </div>
                    <div class="level-item has-text-centered" v-if="county.isVisible">
                        <div>
                            <p class="heading">Military <hint name="military"></hint></p>
                            <p class="title">
                                <span v-if="county.infoLevel == 2"><</span>{{county.troops | prettyNull}}
                            </p>
                            <p class="subtitle" v-if="county.troopRate">{{county.troopRate | prettyNullRate}}/turn</p>
                        </div>
                    </div>
                    <div class="level-item has-text-centered" v-if="county.isVisible">
                        <div>
                            <p class="heading">Science <hint name="science"></hint></p>
                            <p class="title">
                                {{county.science | prettyNull}}
                            </p>
                        </div>
                    </div>
                </div>

                <!-- <hr> -->
                <div class="has-text-centered" v-if="belongsToActiveCharacter">
                    <p class="button is-static is-small">Raise Army</p>
                    <a class="button is-small" @click="raiseTroopsCustom">xx%</a>
                    <a class="button is-small" @click="raiseTroops(0.25)">25%</a>
                    <a class="button is-small" @click="raiseTroops(0.5)">50%</a>
                    <a class="button is-small" @click="raiseTroops(0.75)">75%</a>
                    <a class="button is-small" @click="raiseTroops(1)">100%</a>
                    <hint name="armies"></hint>
                </div>
                <template v-if="canMoveHere">
                    <br>
                    <b-tooltip :label="movementCooldownLabel">
                        <a class="button is-primary is-small" 
                            @click="moveActiveCharacterHere()"
                            :disabled="$store.getters.activeCharacter.cooldowns.movement > 0">
                            Move here
                        </a>
                    </b-tooltip>
                </template>
                <template v-if="belongsToActiveCharacter && county.razed">
                    <b-tooltip :label="repairTooltip">
                        <a class="button is-primary is-small" 
                            @click="repair()"
                            :disabled="owner.money < repairCost">
                            Repair County
                        </a>
                    </b-tooltip>
                </template>
            </div>
            <div class="column" v-if="county.isVisible">
                <div class="columns is-mobile has-text-centered" v-if="county.defenseBonus">
                    <div class="column">
                        <p class="is-small has-text-centered has-text-grey-light">Defense Bonus</p>
                        <p class="is-small has-text-centered has-text-info">{{county.defenseBonus}}x</p>
                    </div>
                </div>
                <div class="columns is-mobile has-text-centered column-buttons">
                    <div class="column">
                        <p class="has-text-grey">Cats</p>
                        <character-button v-for="cat in cats" :key="cat.guid" :character="cat" class="is-small"></character-button>
                        <p v-if="cats.length == 0" class="button is-small is-static">none</p>
                    </div>
                    <div class="column">
                        <p class="has-text-grey">Armies <hint name="armies"></hint></p>
                        <a class="button is-small is-warning" v-for="army in armies" :key="army.guid" @click="selectArmy(army)">
                            {{army.ownerName}} ({{army.infoLevel == 2 ? '<' : ''}}{{army.troops}} troops)  <span v-if="army.cooldown">(resting)</span>
                        </a>
                        <p v-if="armies.length == 0" class="button is-small is-static">none</p>
                    </div>
                </div>
            </div>
        </div>
    </div>  
</template>

<script>
import CharacterButton from './components/character_button.vue';
import PrettyNullFilter from './filters/prettyNull.vue';
export default {
    props: ['county'],
    mixins: [PrettyNullFilter],
    components: {CharacterButton},
    computed: {
        belongsToActiveCharacter() {
            return this.$store.state.activeCharacter && this.county.owningCharacter == this.$store.state.activeCharacter;
        },
        owner() {
            return this.$store.getters.character(this.county.owningCharacter);
        },
        ownerName() {
            if (this.owner) {
                return `${this.owner.name} ${this.owner.house}`;
            } else {
                return 'no-one';
            }
        },
        cats() {
            return this.$store.getters.countyCharacters(this.county.guid).filter(cat => cat.alive);
        },
        armies() {
            return this.$store.getters.countyArmies(this.county.guid).map(army => {
                let owner = this.$store.getters.character(army.owningCharacter);
                army.ownerName = owner.name + ' ' + owner.house;
                return army;
            });
        },
        canRename() {
            return this.county.isOwner && (this.county.lastRenameTurn == null);
        },
        canMoveHere() {
            let owner = this.owner;
            let activeCharacter = this.$store.getters.activeCharacter;
            return owner && activeCharacter.location !== this.county.guid && 
                        (owner.house == activeCharacter.house
                        || activeCharacter.overlord == owner.guid
                        || owner.overlord == activeCharacter.guid);
        },
        movementCooldownLabel() {
            if (this.$store.getters.activeCharacter.cooldowns.movement > 0) {
                return `Cooldown: ${this.$store.getters.activeCharacter.cooldowns.movement}`;
            } else {
                return 'Move your kitten to this county';
            }
        },
        fuzzyTooltip() {
            if (this.county.infoLevel == 2) {
                return `+/- 100`;
            } else {
                return '';
            }
        },
        repairTooltip() {
            if (this.owner && this.belongsToActiveCharacter && this.owner.money < this.repairCost) {
                return `You need ${this.repairCost}btc to repair this county`;
            } else if (this.owner && this.belongsToActiveCharacter) {
                return `Repair this county for ${this.repairCost}btc. Will produce resources again and count towards your county limit.`;
            }
        },
        repairCost() {
            return this.$store.getters.gameConstant('countyRepairCost') * this.county.size;
        }
    },
    methods: {
        close() {
            this.$store.commit('SELECT_COUNTY', null);
        },
        raiseTroops( percent ) {
            let troops = Math.ceil(this.county.troops * percent);
            this.$store.dispatch('RAISE_TROOPS', {
                countyId: this.county.guid,
                troops: troops
            }); 
        },
        raiseTroopsCustom() {
            this.$dialog.prompt({
                message: 'Enter how many troops to raise',
                inputPlaceholder: `1 - ${this.county.troops}`,
                inputMinLength: 1,
                inputMaxLength: 5,
                onConfirm: (valueStr) => {
                    let value = Math.max(Math.min(this.county.troops, parseInt(valueStr)), 1);
                    if (!isNaN(value)) {
                        this.$store.dispatch('RAISE_TROOPS', {
                            countyId: this.county.guid,
                            troops: value
                        });
                    } else {
                        this.$toast.open({
                            message: `${valueStr} is not a number.`,
                            type: 'is-warning'
                        });
                    }
                }
            })
        },
        selectArmy( army ) {
            if (army.isOwner) {
                this.$store.commit("SELECT_ARMY", army.guid);
            } else {
                this.$store.commit("SELECT_CHARACTER", army.owningCharacter);
            }
        },
        rename() {
            if (this.$store.state.playerInfo.isPremium) {
                this.$dialog.prompt({
                    message: 'Choose a new county name',
                    inputMaxLength: 16,
                    inputMinLength: 1,
                    inputPlaceholder: 'e.g. Cheshire',
                    onConfirm: (name) => {
                        this.$store.dispatch('RENAME_COUNTY', {countyId: this.county.guid, name: name});
                    }
                });
            } else {
                this.$snackbar.open({
                    duration: 5000,
                    message: 'You can only rename counties with a premium account.',
                    type: 'is-primary',
                    position: 'is-top-left',
                    actionText: 'Get Premium',
                    onAction: () => {
                        window.location = "lobby?premium=1"
                    }
                });
            }
        },
        moveActiveCharacterHere() {
            this.$store.dispatch('MOVE_CHARACTER', {
                characterId: this.$store.state.activeCharacter,
                countyId: this.county.guid
            });
        },
        repair() {
            this.$store.dispatch('REPAIR_COUNTY', this.county.guid);
        }
    }
}
</script>

<style>
.county {
    padding: 1.5rem;
    background: whitesmoke;
    width: 100%;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}
.close-county {
    position: absolute;
    left: 1rem;
}
.county .subtitle {
    margin-top: -1rem !important;
}
.county .subtitle .button {
    margin-top: 0;
}
.county .level-item .subtitle {
    margin-top: 0.0rem !important;
}
.county .level-item {
    align-self: flex-start;
}
</style>
