<template>
<div class="container messages">
    <!-- <a class="delete close-messages" @click="close()"></a> -->
    <div class="columns is-desktop sticky">
        <div class="column side">
            
            <nav class="panel">
                <p class="panel-heading">
                    Messages
                </p>
                <div class="panel-block">
                    <p class="control">
                        <b-input placeholder="search" size="is-small" icon="search" v-model="query"></b-input>
                        <!-- <input class="input is-small" type="text" placeholder="search">
                        <span class="icon is-small is-left">
                            <i class="fa fa-search"></i>
                        </span> -->
                    </p>
                </div>
                <div class="panel-block">
                    <p class="control">
                    <a class="button is-outlined is-primary is-fullwidth" @click="composeMessage()"><b-icon icon="pencil"></b-icon><span>Compose New Message</span></a>
                    </p>
                </div>
                <a class="panel-block" :class="{'is-active':filter == 'unread'}" @click="setFilter('unread')">
                    <span class="panel-icon"><i class="fa fa-envelope-o"></i></span>
                    <span >Unread</span><span class="count">{{unread.length}}</span>
                </a>
                <a class="panel-block" :class="{'is-active':filter == 'read'}" @click="setFilter('read')">
                    <span class="panel-icon"><i class="fa fa-envelope-open-o"></i></span>
                    <span>Read</span><span class="count">{{read.length}}</span>
                </a>
                <a class="panel-block" :class="{'is-active':filter == 'sent'}" @click="setFilter('sent')">
                    <span class="panel-icon"><i class="fa fa-paper-plane-o"></i></span>
                    <span>Sent</span><span class="count">{{sent.length}}</span>
                </a>
                <!-- <a class="panel-block" :class="{'is-active':filter == 'trash'}" @click="setFilter('trash')">
                    <span class="panel-icon"><i class="fa fa-trash-o"></i></span>
                    <span>Trash</span><span class="badge">{{trashed.length}}</span>
                </a> -->
            </nav>

        </div>
        <div class="column is-8 main">
            <compose-message v-show="isComposingMessage" ref="compose"></compose-message> 
            <message v-for="m in messages" :key="m.guid" :message="m"></message>
            <div v-if="messages.length == 0" class="box">You have no messages. :'(</div>
        </div>
    </div>
</div>
</template>

<script>
import Message from './components/message.vue';
import ComposeMessage from './components/compose_message.vue';
import Fuse from 'fuse.js';

export default {
    components: {Message, ComposeMessage},
    computed: {
        messages() {
            let result;
            switch(this.filter) {
                case 'unread':
                    result = this.unread;
                    break;
                case 'read':
                    result = this.read;
                    break;
                case 'sent':
                    result = this.sent;
                    break;
                case 'trash':
                    result = this.trashed;
                    break;
            }
            result = result.map(msg => {
                let result = Object.assign({}, msg);
                let from = this.$store.getters.character(msg.from);
                let to = this.$store.getters.character(msg.to);
                if (from) {
                    result.fromName = `${from.name} ${from.house}`;
                }
                if (to) {
                    result.toName = `${to.name} ${to.house}`;
                }
                return result;
            });
            
            if (this.query.length >= 3) {
                let searchOpts = {
                    keys: ['fromName', 'toName', 'message'],
                    threshold: 0.3
                };
                let search = new Fuse(result, searchOpts);
                result = search.search(this.query);
            }
            let reversedResult = [];
            for (let i = result.length - 1; i >= 0; i--) {
                reversedResult.push(result[i]);
            }
            // result.sort((a, b) => b.turn - a.turn);
            return reversedResult;
        },
        unread() {
            return this.$store.getters.messages(this.$store.state.activeCharacter).filter(m => !m.read);
        },
        read() {
            return this.$store.getters.messages(this.$store.state.activeCharacter).filter(m => m.read);
        },
        sent() {
            return this.$store.getters.sentMessages(this.$store.state.activeCharacter);
        },
        trashed() {
            return this.$store.getters.trashedMessages(this.$store.state.activeCharacter);
        },
        isComposingMessage() {
            return this.$store.state.isComposingMessage;
        }
    },
    data: function() {
        return {
            filter: 'unread',
            query: ''
        }
    },
    methods: {
        setFilter( filter ) {
            this.filter = filter;
        },
        composeMessage() {
            this.$store.commit("SET_IS_COMPOSING_MESSAGE", true);
        }
    },
}
</script>

<style>
.messages {
    padding: 1.5rem;
    width: 100%;
    background-color: whitesmoke;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}
.close-messages {
    position: absolute;
    left: 1rem;
}
.messages .count {
    padding-left: 0.5rem;
    font-size: 0.75rem;
}
.messages .columns.stickyr {
    display: flex;
    height: 80vh;
}
.messages .column.sider {
    flex: 1 0 40%;
}
@media(min-width: 1008px) {
    .messages .column.main {
        height: 80vh;
        overflow: auto;
    }
}
</style>
