<template>
    <div class="container newsfeed">
        <div class="columns">
            <div class="column is-5">
                <div class="box">
                    <b-field label="Message">
                        <b-input type="textarea" maxlength="140" v-model="postText"></b-input>
                    </b-field>
                    <b-field grouped>
                        <p class="control">
                            <a class="button is-primary" @click="postMessage()">
                                <span>Post</span><b-icon icon="btc"></b-icon>
                            </a>
                        </p>
                    </b-field>
                </div>
            </div>
            <div class="column">
                <article class="media" v-for="(article, i) in news" :key="article.index">
                    <figure class="media-left">
                        <p class="image is-64x64">
                            <img :src="photo(article.author)">
                        </p>
                    </figure>
                    <div class="media-content">
                        <div class="content">
                            <p>
                                <strong>{{author(article.author)}}</strong> <small>Turn {{article.turn}}</small>
                                <br> <component :is="messageBody(article.message)" 
                                        @county="guid => selectCounty(guid)"
                                        @character="guid => selectCharacter(guid)"
                                        ></component>
                            </p>
                        </div>
                    
                        <nav class="level is-mobile">
                            <div class="level-left">
                                <a v-if="article.author" class="level-item" @click="$store.commit('SELECT_CHARACTER', article.author)">
                                    <b-icon icon="globe" size="is-small"></b-icon>
                                </a>
                            </div>
                        </nav>
                    </div>

                </article>
            </div>
        </div>
    </div>
</template>

<script>
import MessageParser from './helpers/message_parser';
import CharacterAutocomplete from './components/character_autocomplete.vue';
import Vue from 'vue';

export default {
    mixins: [MessageParser],
    components: {CharacterAutocomplete},
    data: function() {
        return {
            postText: ''
        }
    },
    computed: {
        news() {
            let _news = this.$store.state.gameState.news;
            let result = [];
            for (let i = _news.length - 1; i >= 0; i--) {
                result.push(_news[i]);
            }
            return result;
        }
    },
    methods: {
        close() {
            this.$store.commit("SET_CURRENT_VIEW", null);
        },
        photo( id ) {
            if (!id) {
                return 'img/rss.png';
            } else {
                return this.$photo(id, 'jpg', true, '128x128');
            }
        },
        author( id ) {
            let character = this.$store.getters.character(id);
            if (character) {
                return `${character.name} ${character.house}`;
            } else {
                return '';
            }
        },
        messageBody( text ) {
            return this.parseMessage(text);
        },
        postMessage() {
            let character = this.$store.getters.activeCharacter;
            if (this.postText.length == 0) {
                this.$toast.open({
                    message: 'Message too short.',
                    type: 'is-warning'
                });
            } else if (this.postText.length > 140) {
                this.$toast.open({
                    message: 'Message too long.',
                    type: 'is-warning'
                });
            } else if (character && !character.cooldowns.newsfeed) {
                this.$store.dispatch('POST_NEWS', {
                    characterId: this.$store.state.activeCharacter,
                    message: this.postText
                });
                this.$toast.open({
                    message: 'Ad posted',
                    type: 'is-success'
                });
                this.postText = '';
            } else {
                this.$toast.open({
                    message: 'Must wait a turn to post again.',
                    type: 'is-warning'
                });
            }
        }
    }
}
</script>

<style>
  .newsfeed {
      padding: 1.5rem;
      width: 100%;
      background-color: whitesmoke;
      border-bottom-left-radius: 15px;
      border-bottom-right-radius: 15px;
  }
  .close-newsfeed {
      position: absolute;
      right: 1rem;
  }
  .newsfeed .scroll-column {
      overflow-y: scroll;
      max-height: 80vh;
  }
  @media(max-width: 1008px) {
      .newsfeed .scroll-column {
        overflow-y: visible;
        max-height: auto;
        }
  }
</style>
