<template>
    <div class="container players">
        <a class="delete close-players" @click="close()"></a>
        <div class="columns is-centered">
            <div class="column-8 has-text-centered">
                <div class="content">
                <h1>Players</h1>
                    <li v-for="(player, i) in $store.state.gameState.players" :key="player.username">
                        {{i+1 | position}}: {{player.username}}
                        <small class="has-text-danger" v-if="player.dead">(Dead)</small>
                        <small class="has-text-warning" v-else-if="player.afk">(AFK)</small>
                        <small class="has-text-info" v-else>{{player.lastActive | timeAgo}}</small>
                    </li>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import moment from 'moment';

export default {
  filters: {
      timeAgo( time ) {
          if (time !== 0) {
            let diff = moment().diff(time, 'hours', false);
            if (diff < 2) {
                return "(Online recently)";
            } else {
                return `(Online ${diff} hours ago)`;
            }
          } else {
            return '';
          }
      },
      position( num ) {
          let numStr = num.toString();
          let lastDigit = parseInt(numStr.charAt(numStr.length - 1));
          let secondDigit = (numStr.length >= 2) ? parseInt(numStr.charAt(numStr.length - 2)) : 0;
          if (secondDigit == 1) {
              return `${num}th`;
          } else if (lastDigit === 1) {
              return `${num}st`;
          } else if (lastDigit === 2) {
              return `${num}nd`;
          } else if (lastDigit === 3) {
              return `${num}rd`;
          } else {
              return `${num}th`;
          }
      }
  },
  methods: {
      close() {
          this.$store.commit('SET_CURRENT_VIEW', null);
      }
  }
}
</script>


<style>
    .players {
        padding: 1.5rem;
        width:70%;
        background-color: whitesmoke;
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
    }
    .players li {
        list-style: none;
    }
    .close-players {
        position: absolute;
        right: 1rem;
    }
</style>
