<template>
    <div class="container plot">
        <a class="delete close-plot" @click="close()"></a>
        
        <div class="column has-text-centered">
            <img :src="$photo(victim.guid, 'jpg', true)">
            <p class="has-text-centered title is-4">
                Plotting against {{victim.name}} {{victim.house}}<hint name="Plotting"></hint>
            </p>
        </div>
        <div class="columns is-multiline is-tablet">
            <div class="column is-6" v-for="plot in plots" :key="plot.key">
                <div class="box">
                <div class="columns">
                    <div class="column is-7">
                        <p class="title is-5">{{plot.name}}</p>
                        <p class="subtitle is-7 has-text-success">{{plot.successChance}}% chance of success.</p>
                        <p>{{plot.description}}</p>
                        <div class="field" v-if="plot.type === 'poison'">
                            <b-select v-model="potionId">
                                <option v-for="poison in poisons" :key="poison.id" :value="poison.id">{{poison.name}}</option>
                            </b-select>
                        </div>
                        <br>
                        <div class="field has-addons">
                            <p class="control"><a class="button is-primary" :class="plot.class" @click="startPlot(plot)" :disabled="!canDoPlot(plot)">Attempt {{plot.name}} Plot</a></p>
                            <p class="control"><a class="button is-static">{{plot.cost}}<b-icon icon="btc" size="is-small"></b-icon></a></p>
                        </div>
                    </div>
                    <div class="column piechart">
                        <b-tooltip :label="chanceTooltip(plot)" multilined>
                        <svg width="128" height="128" :class="plot.key">
                            <path v-for="(arc, i) in arc(plot)" :key="i" :d="arc.path" :fill="arc.fill" transform="translate(64,64)">
                            </path>
                            <text v-for="(arc, i) in arc(plot)" :key="i" :transform="`translate(${arc.center[0]+64-10},${arc.center[1]+64+5})`" 
                                font-family="sans-serif" font-size="12px" fill="white">
                                {{arc.label}}
                            </text>
                        </svg>
                        </b-tooltip>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
let d3 = require('d3');

export default {
    props: ['victim', 'items'],
    data() {
        return {
            potionId: ''
        }
    },
    computed: {
        poisons() {
            return this.items.filter(item => !item.active && item.type === 'potion')
                .reduce((arr, item) => {
                    if (arr.findIndex(other => other.id === item.id) === -1) {
                        arr.push(item);
                    }
                    return arr;
                }, []);
        },
        plots() {
            let types = [
                {
                    name: 'Poison',
                    key: 'poisonPlotting',
                    type: 'poison',
                    description: 'Poison another kitten with a potion you own. They will consume the potion and receive the effects.',
                    class: {'is-info':true}
                },
                {
                    name: 'Theft',
                    key: 'stealPlotting',
                    type: 'steal',
                    description: 'Steal 25% of their treasury and a random item.',
                    class: {'is-warning':true}
                },
                // {
                //     name: 'Spy',
                //     key: 'stealPlotting',
                //     type: 'spy',
                //     description: 'Gain intelligence of their desires, items, incoming and outgoing messages for the next 24 turns.',
                //     class: {'is-dark':true}
                // },
                {
                    name: 'Murder',
                    key: 'murderPlotting',
                    type: 'murder',
                    description: 'Kill them. If they have no heir they are eliminated from the game.',
                    class: {'is-danger':true}
                }
            ];
            let result = types.map(type => {
                type.cost = this.$store.getters.activeCharacter[type.key].cost;
                type.successChance = this.successChance(type.key);
                type.chances = this.calculateChances(type.key);
                return type;
            });
            return result;
        }
    },
    methods: {
        close() {
            this.$store.commit('SET_CURRENT_VIEW', 'character');
        },
        canDoPlot( plot ) {
            let activeCharacter = this.$store.getters.activeCharacter;
            return activeCharacter && activeCharacter.money >= activeCharacter[plot.key].cost
                && activeCharacter.cooldowns.plotting == 0;
        },
        arc( plot ) {
            let startAngle = 0;
            let endAngle = Math.PI * 2 * plot.chances.succeedSilent * 0.01;
            let arc1 = d3.arc()
                .innerRadius(32)
                .outerRadius(64)
                .startAngle(startAngle) //converting from degs to radians
                .endAngle(endAngle);
            startAngle = endAngle;
            endAngle = startAngle + Math.PI * 2 * plot.chances.succeedPublic * 0.01;
            let arc2 = d3.arc()
                .innerRadius(32)
                .outerRadius(64)
                .startAngle(startAngle)
                .endAngle(endAngle);
            startAngle = endAngle;
            endAngle = startAngle + Math.PI * 2 * plot.chances.failSilent * 0.01;
            let arc3 = d3.arc()
                .innerRadius(32)
                .outerRadius(64)
                .startAngle(startAngle)
                .endAngle(endAngle);
            startAngle = endAngle;
            endAngle = startAngle + Math.PI * 2 * plot.chances.failPublic * 0.01;
            let arc4 = d3.arc()
                .innerRadius(32)
                .outerRadius(64)
                .startAngle(startAngle)
                .endAngle(Math.PI * 2);
            return [
                {
                    path: arc1(),
                    fill: '#23d160',
                    label: `${plot.chances.succeedSilent}%`,
                    center: arc1.centroid()
                },
                {
                    path: arc2(),
                    fill: '#12a040',
                    label: `${plot.chances.succeedPublic}%`,
                    center: arc2.centroid()
                },
                {
                    path: arc3(),
                    fill: '#ff3860',
                    label: `${plot.chances.failSilent}%`,
                    center: arc3.centroid()
                },
                {
                    path: arc4(),
                    fill: '#dd2750',
                    label: `${plot.chances.failPublic}%`,
                    center: arc4.centroid()
                }
            ];
        },
        chanceTooltip( plot ) {
            return `Success: ${plot.chances.succeedSilent}%, Public Success: ${plot.chances.succeedPublic}%, 
                    Failure: ${plot.chances.failSilent}%, Public Failure: ${plot.chances.failPublic}%`;
        },
        calculateChances( plotKey ) {
            let activeCharacter = this.$store.getters.activeCharacter;
            let plotting = activeCharacter[plotKey];
            let otherPlotting = this.victim[plotKey];
            let succeedPublic = plotting.succeedPublic;
            let succeedSilent = plotting.succeedSilent;
            let failPublic = plotting.failPublic;
            let failSilent = plotting.failSilent;
            failPublic += otherPlotting.defense;
            let sum = succeedPublic + succeedSilent + failPublic + failSilent;
            succeedPublic = Math.floor((succeedPublic / sum) * 100);
            succeedSilent = Math.floor((succeedSilent / sum) * 100);
            failPublic = Math.floor((failPublic / sum) * 100);
            failSilent = Math.floor((failSilent / sum) * 100);
            return {succeedPublic, succeedSilent, failPublic, failSilent};
        },
        successChance( other, plotKey ) {
            let chances = this.calculateChances(other, plotKey);
            return chances.succeedPublic + chances.succeedSilent;
        },
        startPlot( plot ) {
            if (!this.canDoPlot(plot)) return;
            let activeCharacter = this.$store.getters.activeCharacter;
            this.$dialog.confirm({
                message: `Are you sure you want to start a ${plot.name} plot against ${this.victim.name} ${this.victim.house}?`,
                onConfirm: () => {
                    this.$toast.open(`Plotting ${plot.name}...`);
                    this.$store.dispatch('START_PLOT', {
                        plotType: plot.type,
                        characterId: activeCharacter.guid,
                        targetId: this.victim.guid,
                        potionId: this.potionId
                    });
                }
            });
        }
    }
}
</script>

<style>
    .plot {
        padding: 1.5rem;
        width: 100%;
        background-color: whitesmoke;
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
    }
    .close-plot {
        position: absolute;
        left: 1rem;
    }
    .plot .box {
        min-height: 250px;
    }
    .plot img {
        border-radius: 5px;
    }
    .plot .piechart {
        display: flex;
        align-items: center;
        justify-content: center;
    }
</style>
