<template>

    <div class="game-card card is-rounded">
        <header class="card-header">
            <div class="card-header-title justify-left">
                <p>{{game.name}}</p>
            </div>
            <div class="card-header-title justify-right has-text-info">
                <p v-if="game.status == 'ended'">
                    <small>Game has finished</small>
                </p>
                <p v-else-if="game.turn == 0">
                    <small>Starts {{game.nextTurnTime | timeTo}}</small>
                </p>
            </div>
        </header>
        <div class="card-content">
            <div class="tags">
                <span class="tag is-info">v{{game.version}}</span>
                <span class="tag is-info">Turn {{game.turn}}/{{game.config.maxTurns}}</span>
                <span class="tag is-info">{{game.players.length}}/{{game.config.maxPlayers}} players</span>
                <span class="tag is-info">{{game.config.maxCounties}} counties</span>
                <span class="tag is-info" v-if="game.config.fogOfWarEnabled">Fog of War</span>
            </div>
        </div>
        <footer class="card-footer">
            <slot></slot>
        </footer>
    </div>

</template>

<script>
import moment from 'moment';
export default {
    props: ['game'],
    filters: {
        timeTo( timestamp ) {
            return moment(timestamp).fromNow();
        }
    }
}
</script>

<style>
.game-card .card-content {
    display: flex;
    justify-content: center;
}
.justify-center {
    justify-content: center;
}
.justify-left {
    justify-content: left;
}
.justify-right {
    justify-content: flex-end;
}
</style>
