<template>
<div>
<section class="hero is-fullheight is-primary hero-back">
    <div class="hero-head">
        <header class="nav">
            <div class="container">
                <div class="nav-left">
                    <a class="nav-item">
                    <img src="img/kk-menu-logo.png" alt="Logo">
                </a>
                </div>
                <span class="nav-toggle" @click="menuActive = !menuActive">
                    <span></span>
                    <span></span>
                    <span></span>
                </span>
                <div class="nav-right nav-menu" :class="{'is-active': menuActive}">
                    <a class="nav-item" id="registerButton" @click="showSignup()">
                        Register
                    </a>
                    <a class="nav-item" href="/tutorial.html">
                        How to Play
                    </a>
                    <span class="nav-item">
                        <a id="loginButton" class="button is-primary" @click="loginModalActive = true">
                            <span class="icon">
                                <i class="fa fa-sign-in"></i>
                            </span>
                            <span>Login</span>
                        </a>
                    </span>
                </div>
            </div>
        </header>
    </div>

    <div class="hero-body">
        <div class="container has-text-centered">
            <div class="columns is-desktop">
                <div class="column">
                    <figure class="image is-4by3">
                        <img src="img/promo-shot.jpg" class="promo-img" alt="Description">
                    </figure>
                </div>
                <div class="column">
                    <h1 class="title is-2">
                        Kitten Kingdoms
                    </h1>
                    <h2 class="subtitle is-4">
                        No cat rules alone.
                    </h2>
                    <p>Kitten Kingdoms is a multiplayer realtime strategy game, where turns happen each hour. Survive your dynasty of kittens and manipulate your way to power.</p>
                    <br>
                    <div class="field has-addons has-addons-centered">
                        <!-- <p class="control has-icons-left">
                            <input class="input is-medium" type="text" placeholder="Join the beta waitlist" v-model="mailchimpSignupEmail">
                            <span class="icon is-small is-left">
                                <i class="fa fa-envelope"></i>
                            </span>
                        </p> -->
                        <p class="control">
                            <a class="button is-large is-primary is-inverted" @click="showSignup()">Sign Up Now</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="hero is-primary has-text-centered">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    From Kitten to King
                </h1>
                <h2 class="subtitle">
                    Fight, marry, sabotage, love, steal, murder, and manipulate your way to power.
                </h2>
                <div class="columns is-centered">
                    <div class="column is-6">
                    <figure class="image promo-img is-16by9" >
                        <img src="img/promo-shot-2.jpg">
                    </figure>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="hero is-danger has-text-centered">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    Satisfy your desires
                </h1>
                <h2 class="subtitle">
                    Every kitten has their own desires. Every player is trying to acheive something different.
                </h2>
                <div class="columns is-centered">
                    <div class="column is-6">
                    <figure class="image promo-img is-16by9" >
                        <img src="img/promo-shot-3.jpg">
                    </figure>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section class="hero is-light has-text-centered">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    Pricing
                </h1>
                
                <div class="columns is-centered is-pricing-columns">
                    <div class="column box is-pricing-box">
                        <p class="title is-5">Kitten Apprentice</p>
                        <p class="price">Free!</p>
                        <p class="description">
                            <br>
                            <ul>
                                <li>Play up to 2 games simultaneously</li>
                                <li>Free forever‡</li>
                                <li>Join our Discord server</li>
                            </ul>
                        </p>
                        <div class="action">
                            <a class="button is-large is-primary is-outlined" @click="showSignup()">Sign up now</a>
                        </div>
                    </div>
                    <div class="column box is-pricing-box is-popular">
                        <p class="title is-5">Kitten Ninja</p>
                        <p class="price">£1.99 <small>/ per month</small></p>
                        <p class="description">
                            <br>
                            <ul>
                                <li>Customize your kittens and counties</li>
                                <li>Play up to 6 games simultaneously</li>
                                <li>Create your own public and private games†</li>
                                <li>Play without advertisements</li>
                                <li>Join our Discord server with the Ninja role</li>
                                <li>Support the developer :)</li>
                                <li>No commitments, cancel anytime</li>
                            </ul>
                        </p>
                        <div class="action">
                            <a class="button is-large is-primary is-outlined is-inverted" @click="showSignup()">Sign up now</a>
                        </div>
                    </div>
                    <div class="column box is-pricing-box">
                        <p class="title is-5">Kitten Wizard</p>
                        <p class="price">£29.99 <small>/ play forever‡</small></p>
                        <p class="description">
                            <br>
                            <ul>
                                <li>Customize your kittens and counties</li>
                                <li>Play up to 12 games simultaneously</li>
                                <li>Create your own public and private games†</li>
                                <li>Play without advertisements</li>
                                <li>Join our Discord server with the Wizard role</li>
                                <li>Support the developer :)</li>
                            </ul>
                        </p>
                        <div class="action">
                            <a class="button is-large is-primary is-outlined" @click="showSignup()">Sign up now</a>
                        </div>
                    </div>
                </div>
                <div class="columns is-centered">
                    <div class="column is-6">
                        <p class="content is-size-7">
                                † You can create up to 10 private and public games simultaneously.
                                <br><br>
                                ‡ Eternal Promise: if for whatever reason the servers shut down for good, I promise to release
                                and open source all of the kitten kingdoms source code.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="hero is-small is-dark has-text-centered">
        <div class="hero-foot">
            <div class="container">
                <div class="tabs is-centered">
                    <ul>
                        <li><a href="http://bulma.io">Made with bulma</a></li>
                        <li><a href="http://locogame.co.uk">Copyright 2016 Locogame Ltd.</a></li>
                        <li><a href="http://robohash.org">Cat images via robohash.org</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>


<div class="modal" :class="{'is-active': loginModalActive}">
    <div class="modal-background"></div>
    <div class="modal-content box">
            <div class="field ">
                <label class="label">Username</label>
                <div class="control has-icons-left">
                    <input class="input" type="text" placeholder="Username" v-model="login.username">
                    <span class="icon is-small">
                        <i class="fa fa-user"></i>
                    </span>
                </div>
            </div>
            <div class="field">
                <label class="label">Password</label>
                <div class="control has-icons-left">
                    <input class="input" type="password" placeholder="Password" v-model="login.password">
                    <span class="icon is-small">
                        <i class="fa fa-lock"></i>
                    </span>
                </div>
            </div>
            <div class="field">
                <a class="button is-primary is-fullwidth" @click="submitLogin()">Log In</a>
            </div>
    </div>
    <button class="modal-close is-large" aria-label="close" @click="loginModalActive = false"></button>
</div>
<div class="modal" :class="{'is-active': signupModalActive}">
    <div class="modal-background"></div>
    <div class="modal-content box">
            <div class="field ">
                <label class="label">Username</label>
                <div class="control has-icons-left">
                    <input class="input" type="text" placeholder="Username" v-model="signup.username">
                    <span class="icon is-small">
                        <i class="fa fa-user"></i>
                    </span>
                </div>
            </div>
            <div class="field ">
                <label class="label">Email</label>
                <div class="control has-icons-left">
                    <input class="input" type="email" placeholder="Email" v-model="signup.email">
                    <span class="icon is-small">
                        <i class="fa fa-envelope"></i>
                    </span>
                </div>
            </div>
            <!-- <div class="field ">
                <label class="label">Invite Code</label>
                <div class="control has-icons-left">
                    <input class="input" type="text" placeholder="Invite Code" v-model="signup.inviteCode">
                    <span class="icon is-small">
                        <i class="fa fa-star"></i>
                    </span>
                </div>
            </div> -->
            <div class="field">
                <label class="label">Password</label>
                <div class="control has-icons-left">
                    <input class="input" type="password" placeholder="Password" v-model="signup.password">
                    <span class="icon is-small">
                        <i class="fa fa-lock"></i>
                    </span>
                </div>
            </div>
            <div class="field">
                <a class="button is-primary is-fullwidth" @click="submitSignup()">Register</a>
            </div>
    </div>
    <button class="modal-close is-large" aria-label="close" @click="signupModalActive = false"></button>
</div>
</div>
</template>

<script>
const SERVER_ENDPOINT = 'https://' + process.env.SERVER_ADDRESS;
export default {
    data: function() {
        return {
            menuActive: false,
            loginModalActive: false,
            signupModalActive: false,
            login: {
                username: '',
                password: ''
            },
            signup: {
                username: '',
                email: '',
                inviteCode: '',
                password: ''
            },
            mailchimpSignupEmail: '',
            toastMsg: '',
            toastType: 'is-success',
            toastActive: false,
            lobbyUrlParam: ''
        };
    },
    methods: {
        showSignup() {
            this.signupModalActive = true;
            ga('send', 'event', 'signup', 'show');
        },
        submitLogin: function() {
            ga('send', 'event', 'login', 'post', this.login.username);
            this.$http.post(SERVER_ENDPOINT+'/auth/login',this.login).then((res) => {
                this.loginModalActive = false;
                this.toast('Welcome back :)', 'is-success', 3000);
                Cookies.set('authToken', res.body.token, { expires: 30, path: '/' });
                Cookies.set('username', this.login.username);
                setTimeout(() => {
                    window.location = "lobby" + this.lobbyUrlParam;
                }, 2200);
            }, (err) => {
                if (err.status == 0) {
                    this.toast('Server is offline, please try again later.', 'is-danger', 3000);
                } else {
                    this.toast(err.body, 'is-danger', 3000);
                }
            });
        },
        submitSignup: function() {
            ga('send', 'event', 'signup', 'post', this.signup.username);
            this.$http.post(SERVER_ENDPOINT+'/auth/register', this.signup).then(res => {
                this.signupModalActive = false;
                this.login.username = this.signup.username;
                this.login.password = this.signup.password;
                this.lobbyUrlParam = '?premium=1';
                this.toast('Successfully registered!', 'is-success', 3000);
                setTimeout(() => {
                    this.submitLogin();
                }, 1000);
            }, (err) => {
                this.toast(err.body, 'is-danger', 3000);
            });
        },
        mailchimpSignup: function() {
            ga('send', 'event', 'newsletter', 'join');
            var postUrl = "https://locogame.us16.list-manage.com/subscribe/post-json?u=46cfe92d28937e47048c5a5f9&id=5cfa7d1c28&c=?";
            var payload = {
                MERGE0: this.mailchimpSignupEmail
            };
            $.ajax({
                url: postUrl,
                data: payload,
                dataType: 'jsonp'
            }).done((data) => {
                if (data.result == 'error') {
                    this.toast(data.msg, 'is-danger', 3000);
                } else if (data.result == 'success') {
                    this.toast(data.msg, 'is-success', 5000);
                }
            });
        },
        toast: function( msg, type, duration ) {
            this.$toast.open({
                message: msg,
                type,
                duration
            });
        }
    }
}
</script>

<style>
  
</style>
