<template>
<div>
    <section class="hero is-fullheight is-primary hero-back">
        <div class="hero-head">
            <header class="nav" v-if="user">
                <div class="container">
                    <div class="nav-left">
                        <a class="nav-item">
                            <img src="img/kk-menu-logo.png" alt="Logo">
                        </a>
                    </div>
                    <span class="nav-toggle" @click="menuActive = !menuActive">
                        <span></span>
                        <span></span>
                        <span></span>
                    </span>
                    <div class="nav-right nav-menu" :class="{'is-active': menuActive}">
                        <a class="nav-item" href="/tutorial.html">
                            Tutorial
                        </a>
                        <a class="nav-item" @click="showCreateGame()">
                            Create Game
                        </a>
                        <a class="nav-item" @click="userProfileModalActive = true">
                            Profile
                        </a>
                        <span class="nav-item" v-if="isFreeUser">
                            <a class="button is-primary is-inverted" href="#premium">
                                Get Premium
                            </a>
                        </span>
                        <span class="nav-item">
                            <a class="button is-primary is-inverted is-outlined" @click="logout">
                                <span class="icon">
                                    <i class="fa fa-sign-out"></i>
                                </span>
                                <span>Logout</span>
                            </a>
                        </span>
                    </div>
                </div>
            </header>
        </div>

        <div class="hero-body" id="section-body">
            
            <div class="container has-text-centered">
                <article class="message is-danger" ref="updateMessage">
                    <div class="message-header">
                        <p>Update</p>
                    </div>
                    <div class="message-body">
                        V1.2 - Potions & Books Update - <a href="potionsandbooksupdate.html">Read all about it.</a>
                    </div>
                </article>

                <!-- <p>
                    <a class="button is-primary is-large" @click="getGames()">
                        Refresh
                    </a>
                </p> -->

                <div class="columns is-desktop">
                    <div class="column">
                        <h1 class="title">Your Games</h1>
                        <game-card v-for="game in yourGames" :key="game.id" :game="game">
                            <a v-if="isAdmin" class="card-footer-item has-text-danger" @click="endGame(game)">End Game</a>
                            <a class="card-footer-item has-text-danger" @click="leaveGame(game.id)">Leave</a>
                            <a class="card-footer-item has-text-success" @click="connectToGame(game.id)">Enter</a>
                        </game-card>
                        <div class="box" v-if="yourGames.length == 0">
                            <p>You are not in any games :( <br> Wai no play?</p>
                        </div>
                    </div>
                    <div class="column" :class="{'is-loading': isLoadingGames}">
                        <h1 class="title">Open Games</h1>
                        <game-card v-for="game in openGames" :key="game.id" :game="game">
                            <a v-if="isAdmin" class="card-footer-item has-text-danger" @click="endGame(game)">End Game</a>
                            <a v-if="game.status !== 'ended'" class="card-footer-item has-text-success" @click="joinGame(game.id)">Join</a>
                        </game-card>
                        <div class="box" v-if="openGames.length == 0">
                            <p>There are no open games :(</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="hero is-dark">
        <div class="columns is-centered is-desktop">
            <div class="column is-4 discord">
                <iframe src="https://discordapp.com/widget?id=349616232800190465&theme=dark" width="100%" height="400px" allowtransparency="true" frameborder="0"></iframe>
            </div>
        </div>
    </section>

    <section class="hero is-light has-text-centered" id="premium" v-if="!isWizard">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    Get Premium
                </h1><br>

                <div class="columns is-centered is-pricing-columns">
                    <div class="column box is-pricing-box">
                        <p class="title is-5">Kitten Apprentice</p>
                        <p class="price">Free!</p>
                        <p class="description">
                            <ul>
                                <li>Play up to 2 games simultaneously</li>
                                <li>Free forever‡</li>
                            </ul>
                        </p>
                    </div>
                    <div class="column box is-pricing-box is-popular">
                        <p class="title is-5">Kitten Ninja</p>
                        <p class="price">£1.99
                            <small>/ per month</small>
                        </p>
                        <p class="description">
                            <ul>
                                <li>Customize your kittens and counties</li>
                                <li>Play up to 6 games simultaneously</li>
                                <li>Create your own public and private games†</li>
                                <li>Play without advertisements</li>
                                <li>Support the developer :)</li>
                                <li>No commitments, cancel anytime</li>
                            </ul>
                        </p>
                        <div class="action">
                            <span class="button is-static" v-if="isNinja">
                                Already a Kitten Ninja!
                            </span>
                            <span v-else>
                                <stripe-component class="is-inverted" 
                                    :product="ninjaPlanProduct" 
                                    :post-url="ninjaPlanProduct.url"
                                    :email="user ? user.email : ''"
                                    @submit="onPaymentSubmit(ninjaPlanProduct)" 
                                    @charge-success="onPaymentSuccess(ninjaPlanProduct)" 
                                    @charge-fail="err => onPaymentFail(ninjaPlanProduct, err)">
                                </stripe-component>
                            </span>
                        </div>
                    </div>
                    <div class="column box is-pricing-box">
                        <p class="title is-5">Kitten Wizard</p>
                        <p class="price">£29.99
                            <small>/ play forever‡</small>
                        </p>
                        <p class="description">
                            <ul>
                                <li>Customize your kittens and counties</li>
                                <li>Play up to 12 games simultaneously</li>
                                <li>Create your own public and private games†</li>
                                <li>Play without advertisements</li>
                                <li>Support the developer :)</li>
                            </ul>
                        </p>
                        <div class="action">
                            <stripe-component 
                                :product="wizardPlanProduct" 
                                :post-url="wizardPlanProduct.url"
                                :email="user ? user.email : ''"
                                @submit="onPaymentSubmit(wizardPlanProduct)" 
                                @charge-success="onPaymentSuccess(wizardPlanProduct)" 
                                @charge-fail="err => onPaymentFail(wizardPlanProduct, err)">
                            {{isNinja ? 'Upgrade' : 'Purchase'}}
                            </stripe-component>
                        </div>
                    </div>
                </div>
                <div class="columns is-centered">
                    <div class="column is-6">
                        <p class="content is-size-7">
                            † You can create up to 10 private and public games simultaneously.
                            <br><br> ‡ Eternal Promise: if for whatever reason the servers shut down for good, I promise to release and open source all of the kitten kingdoms source code.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="hero-foot">
            <div class="container">
                <div class="tabs is-centered">
                    <ul>
                        <li>
                            <a href="http://bulma.io">Made with bulma</a>
                        </li>
                        <li>
                            <a href="http://locogame.co.uk">Copyright 2016 Locogame Ltd.</a>
                        </li>
                        <li>
                            <a href="http://robohash.org">Cat images via robohash.org</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <div class="modal" :class="{'is-active': forceQuitModalActive}" v-if="gameToForceQuit">
        <div class="modal-background"></div>
        <div class="modal-content box">
            <p>Are you sure you want to force quit {{gameToForceQuit.name}}?</p>
            <br>
            <div class="field is-grouped is-grouped-right">
                <p class="control">
                    <a class="button is-danger" @click="forceQuit(gameToForceQuit)">Force Quit</a>
                </p>
                <p class="control">
                    <a class="button is-success" @click="forceQuitModalActive = false">Leave Running</a>
                </p>
            </div>
        </div>
        <button class="modal-close is-large" aria-label="close" @click="forceQuitModalActive = false"></button>
    </div>

    <div class="modal" :class="{'is-active': userProfileModalActive}" v-if="user">
        <div class="modal-background"></div>
        <div class="modal-content box">
            <p class="title has-text-centered">{{user.username}}</p>
            <div class="field">
                <div class="control has-text-centered">
                    <label class="label">Email</label>
                    <input class="input" type="email" placeholder="Name" v-model="user.email">
                </div>
            </div>
            <div class="field is-grouped is-grouped-centered is-grouped-multiline">
                <div class="control has-text-centered">
                    <label class="label">Email Notifications</label>
                    <input class="checkbox" type="checkbox" v-model="user.emailNotify">
                </div>
                <div class="control has-text-centered" v-if="user.discordMemberId">
                    <label class="label">Discord Notifications</label>
                    <input class="checkbox" type="checkbox" v-model="user.discordNotify">
                </div>
            </div>
            <div class="field" v-if="user.discordMemberId">
                <p class="discord-token">Account linked to Discord</p>
            </div>
            <div class="field" v-else-if="!discordToken || discordToken == 1">
                <a class="button is-dark is-outlined is-fullwidth" :class="{'is-loading':discordToken==1}" @click="linkDiscordAccount()">Link Discord Account</a>
            </div>
            <div class="field" v-else>
                <p class="discord-token">
                    <small>Enter in Kitten Kingdoms general channel:</small> !link {{discordToken}}
                </p>
            </div>
            <div class="field">
                <a class="button is-medium is-primary is-outlined is-fullwidth" @click="updateProfile()">Save</a>
            </div>
            <div v-if="user.subscription">
                <hr>
                <div class="field">
                    <p class="control has-text-centered">
                        <label class="label">Subscription</label>
                        {{user.subscription.name}}
                    </p>
                </div>
                <template v-if="user.subscription.activeUntil > 0">
                    <div class="field">
                        <p class="control has-text-centered">
                        <label class="label" v-if="user.subscription.status == 'canceled'">Ends On</label>
                        <label class="label" v-else>Next Billing Date</label>
                            {{user.subscription.activeUntil | prettyDate}}
                        </p>
                    </div>
                    <div class="field" v-if="user.subscription.status != 'canceled'">
                        <p class="control has-text-centered">
                            <label class="label">Monthly Cost</label>
                            {{user.subscription.chargeAmount / 100}} gbp
                        </p>
                    </div>
                    <div class="field">
                        <stripe-component
                            class="is-fullwidth is-medium"
                            label="Update Card Details"
                            :email="user.email"
                            :postUrl="updateCardDetailsUrl"
                            @submit="onPaymentSubmit()"
                            @charge-success="onCardUpdateSuccess()"
                            @charge-fail="err => onCardUpdateFail(err)"
                        >
                        Update Card Details
                        </stripe-component>
                    </div>
                </template>
                <div class="field">
                    <a class="button is-info is-fullwidth" @click="billingReceiptsModalActive = true, userProfileModalActive = false">Previous Receipts</a>
                </div>
                <template v-if="user.subscription.activeUntil > 0 && user.subscription.status != 'canceled'">
                    <div class="field">
                        <a class="button is-danger is-fullwidth" @click="cancelSubscription()">Cancel Subscription</a>
                    </div>
                </template>
                <template v-else-if="user.subscription.status == 'canceled'">
                    <div class="field">
                        <a class="button is-success is-fullwidth" @click="activateSubscription()">Re-activate Subscription</a>
                    </div>
                </template>
            </div>
        </div>
        <button class="modal-close is-large" aria-label="close" @click="userProfileModalActive = false"></button>
    </div>

    <div class="modal" :class="{'is-active': billingReceiptsModalActive}" v-if="user">
        <div class="modal-background"></div>
        <div class="modal-content box">
            <p class="title has-text-centered">Billing Receipts</p>
            <ul>
                <li v-for="receipt in user.billingReceipts" :key="receipt.timestamp">
                    {{receipt.timestamp | prettyDate}} - {{receipt.billingAmount}} {{receipt.currency}} - card ending {{receipt.cardDigitsLast4}}
                </li>
                <li v-if="!user.billingReceipts || user.billingReceipts.length == 0">
                    We haven't billed you yet.
                </li>
            </ul>
        </div>
        <button class="modal-close is-large" aria-label="close" @click="billingReceiptsModalActive = false"></button>
    </div>

    <div class="modal" :class="{'is-active': createGameModalActive}">
        <div class="modal-background"></div>
        <div class="modal-content box" v-if="canCreateGame">
            <div class="field">
                <label class="label">Game Name</label>
                <div class="control">
                    <input class="input" type="text" placeholder="Name" v-model="createGame.name">
                </div>
            </div>
            <div class="field is-grouped is-grouped-left is-grouped-multiline">
                <div class="control">
                    <label class="label">Max Players</label>
                    <input class="input" type="number" min="2" max="32" placeholder="6" v-model="createGame.config.maxPlayers">
                </div>
                <div class="control">
                    <label class="label">Max Counties</label>
                    <input class="input" type="number" min="80" max="400" placeholder="250" v-model="createGame.config.maxCounties">
                </div>
                <div class="control">
                    <label class="label">Number of Turns</label>
                    <input class="input" type="number" min="168" max="840" placeholder="336" v-model="createGame.config.maxTurns">
                </div>
                <div class="control">
                    <label class="label">Income Turn Interval</label>
                    <input class="input" type="number" min="1" max="100" placeholder="25" v-model="createGame.config.incomeTurnInterval">
                </div>
            </div>
            <div class="field is-grouped is-grouped-left is-grouped-multiline">
                <div class="control">
                    <label class="label">Fog of War</label>
                    <input type="checkbox" v-model="createGame.config.fogOfWarEnabled">
                </div>
            </div>
            <div class="field is-grouped is-grouped-left is-grouped-multiline">
                <div class="control">
                    <label class="label">Map Width</label>
                    <input class="input" type="number" min="200" max="800" placeholder="550" v-model="createGame.config.mapWidth">
                </div>
                <div class="control">
                    <label class="label">Map Height</label>
                    <input class="input" type="number" min="200" max="800" placeholder="400" v-model="createGame.config.mapHeight">
                </div>
            </div>

            <div class="field">
                <a class="button is-primary is-fullwidth" @click="postCreateGame()">Create Game</a>
            </div>
        </div>
        <div class="modal-content box" v-else>
            <p>Sorry you can't create games on the free plan :(</p>
            <p>But you can create as many as you want on the Kitten Ninja plan :D</p>
        </div>
        <button class="modal-close is-large" aria-label="close" @click="createGameModalActive = false"></button>
    </div>

</div>    
</template>

<script>
import Vue from 'vue';
import moment from 'moment';
import StripeComponent from '../payment/stripe.vue';
import GameCard from './game_card.vue';

var SERVER_ENDPOINT =  "https://" + process.env.SERVER_ADDRESS;
function getParameterByName(name, url) {
    if (!url) url = window.location.href;
    name = name.replace(/[\[\]]/g, "\\$&");
    var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
        results = regex.exec(url);
    if (!results) return null;
    if (!results[2]) return '';
    return decodeURIComponent(results[2].replace(/\+/g, " "));
}

export default {
    components: {StripeComponent, GameCard},
    data: function() {
        return {
            games: [],
            yourGames: [],
            isLoadingGames: true,
            createGameModalActive: false,
            createGame: {
                name: '',
                config: {
                    maxTurns: 200,
                    maxPlayers: 6,
                    maxCounties: 110,
                    mapWidth: 450,
                    mapHeight: 320,
                    incomeTurnInterval: 24,
                    fogOfWarEnabled: true
                }
            },
            userProfileModalActive: false,
            user: null,
            ninjaPlanProduct: {
                cost: 199,
                description: 'Kitten Ninja Montly Plan',
                key: 'ninja',
                url: SERVER_ENDPOINT + '/subscription/ninja'
            },
            wizardPlanProduct: {
                cost: 2999,
                description: 'Kitten Wizard Lifetime Plan',
                key: 'wizard',
                url: SERVER_ENDPOINT + '/subscription/wizard'
            },
            updateCardDetailsUrl: SERVER_ENDPOINT + '/stripe_update_card',
            menuActive: false,
            billingReceiptsModalActive: false,
            forceQuitModalActive: false,
            gameToForceQuit: null,
            discordToken: null
        }
    },
    computed: {
        openGames: function() {
            return this.games.filter(game => {
                return this.yourGames.findIndex(other => other.id == game.id) == -1;
            });
        },
        canCreateGame: function() {
            return this.isNinja || this.isWizard || this.isAdmin;
        },
        isFreeUser: function() {
            return !this.isNinja && !this.isWizard;
        },
        canJoinGame: function() {
            return this.user && 
                (this.isNinja && this.yourGames.length < 6)
                || (this.isWizard && this.yourGames.length < 12)
                || (this.isAdmin && this.yourGames.length < 100)
                || this.yourGames.length < 2;
        },
        isNinja: function() {
            return this.user && this.user.roles.indexOf('ninja') != -1;
        },
        isWizard: function() {
            return this.user && this.user.roles.indexOf('wizard') != -1;
        },
        isAdmin: function() {
            return this.user && this.user.roles.indexOf('admin') != -1;
        },
    },
    filters: {
        prettyDate( timestamp ) {
            return moment.unix(timestamp).format('dddd, MMMM Do YYYY');
        },
        timeTo( timestamp ) {
            return moment(timestamp).fromNow();
        }
    },
    methods: {
        toast: function( msg, type, duration ) {
            this.$toast.open({
                message: msg,
                type: type,
                duration: duration
            });
        },
        getUser: function( next ) {
            let username = Cookies.get('username');
            this.$http.get(SERVER_ENDPOINT + '/user/' + username).then(res => {
                this.user = res.body;
                $('#section-body').show();
                $('#section-body').fadeIn('slow');
                $('#preloader').fadeOut('slow');
                next(this.user);
            }, err => {
                console.error(err);
                if (err.status == 0) {
                    this.toast('The kitten kingdoms server is down for maintainance. Please try again later.', 'is-danger', 6000);
                } else {
                    this.toast('You are not logged in. Redirecting to landing page...', 'is-danger', 2000);
                    setTimeout(function() {
                        window.location = "index";
                    }, 2000);
                }
            });
        },
        updateProfile: function() {
            let patch = {
                email: this.user.email,
                emailNotify: this.user.emailNotify,
                discordNotify: this.user.discordNotify
            };
            this.$http.patch(SERVER_ENDPOINT + '/user/' + this.user.username, patch).then(res => {
                this.toast('Saved Profile', 'is-success', 4000);
            });
        },
        getGames: function() {
            this.isLoadingGames = true;
            this.$http.get(SERVER_ENDPOINT + '/games').then(res => {
                this.games = res.body || [];
                this.isLoadingGames = false;
                this.toast('Refreshed game list', 'is-info', 1000);
                let joinParam = getParameterByName('join');
                if (joinParam) {
                    this.joinGame(joinParam);
                }
            });
            this.$http.get(SERVER_ENDPOINT + '/player/' + this.user.username + '/games').then(res => {
                this.yourGames = res.body || [];
            });
        },
        joinGame: function( gameId ) {
            if (!this.canJoinGame) {
                this.$snackbar.open({
                    message: `Sorry you can only be in two games at at time. You can join up to 6 games with the Kitten Ninja plan though!`, 
                    type: 'is-warning',
                    position: 'is-bottom-right',
                    actionText: 'Become Ninja',
                    onAction: () => {
                        $(document).scrollTop($('#premium').offset().top);
                    },
                    duration: 7000
                });
            } else {
                this.$http.post(`${SERVER_ENDPOINT}/game/${gameId}/join`).then(res => {
                    this.getGames();
                    this.connectToGame(gameId);
                }, err => {
                    this.toast(err.body, 'is-danger', 3000);
                });
            }
        },
        leaveGame: function( gameId ) {
            this.$http.post(`${SERVER_ENDPOINT}/game/${gameId}/leave`).then(res => {
                this.toast('You have left the game.', 'is-warning', 3000);
                this.getGames();
            }, err => {
                this.toast(err.body, 'is-danger', 3000);
            });
        },
        connectToGame: function( gameId ) {
            window.location = "game.html?id="+gameId;
        },
        showCreateGame: function() {
            if (this.canCreateGame) {
                this.createGame.name = `${this.user.username}'s game`;
                this.createGameModalActive = true;
            } else {
                this.$snackbar.open({
                    message: `Sorry you can't create games on the free plan. Become a Kitten Ninja or Kitten Wizard to create your own public and private games!`, 
                    type: 'is-warning',
                    position: 'is-top-left',
                    actionText: 'Become Ninja',
                    onAction: () => {
                        $(document).scrollTop($('#premium').offset().top);
                    },
                    duration: 7000
                });
            }
        },
        postCreateGame: function() {
            this.$http.post(SERVER_ENDPOINT + '/game', this.createGame).then(res => {
                this.toast('Successfully created new game.', 'is-success', 3000);
                this.createGameModalActive = false;
                this.getGames();
            });
        },
        endGame: function( game ) {
            this.$dialog.confirm({
                message: `Are you sure you want to end '${game.name}', you cannot re-start it.`,
                onConfirm: () => {
                    this.$http.delete(`${SERVER_ENDPOINT}/game/${game.id}`).then(res => {
                        this.toast(`Game ${game.name} has ended.`, 'is-success', 3000);
                        this.getGames();
                    });
                }
            });
        },
        logout: function() {
            this.$http.post(SERVER_ENDPOINT + '/auth/logout').then(res => {
                window.location = "index";
            });
        },
        onPaymentSubmit( product ) {
            $('#preloader').fadeIn('slow');
        },
        onPaymentSuccess( product ) {
            $('#preloader').fadeOut('slow');
            this.toast(`Successfully subscribed to the ${product.description}.`, 'is-success', 6000);
            this.getUser();
        },
        onPaymentFail( product, error ) {
            $('#preloader').fadeOut('slow');
            this.toast(error.message, 'is-danger', 6000);
        },
        onCardUpdateSuccess() {
            $('#preloader').fadeOut('slow');
            this.toast(`Successfully updated card details.`, 'is-success', 6000);
            this.getUser();
        },
        onCardUpdateFail(err) {
            $('#preloader').fadeOut('slow');
            this.toast(`Failed to updated card details. ${err.message}`, 'is-danger', 6000);
        },
        cancelSubscription() {
            this.$dialog.confirm({
                message: `Are you sure you want to cancel your subscription? 
                    You can continue to use the premium features until your subscription end date. You can reactivate at any time until then.`,
                onConfirm: () => {
                    this.$http.delete(SERVER_ENDPOINT + '/subscription/ninja').then(res => {
                        this.toast('You have canceled your subscription', 'is-success', 3000);
                        this.getUser();
                    }).catch(err => {
                        this.toast(err.body, 'is-danger', 3000);
                    });
                }
            });
        },
        activateSubscription() {
            this.$dialog.confirm({
                message: `Are you sure you want to reactivate your subscription? We will automatically renew the subscription each month.`,
                onConfirm: () => {
                    this.$http.post(SERVER_ENDPOINT + '/subscription/ninja/activate').then(res => {
                        this.toast('You have reactivated your subscription :D', 'is-success', 3000);
                        this.getUser();
                    }).catch(err => {
                        this.toast(err.body, 'is-danger', 3000);
                    });
                }
            });
        },
        linkDiscordAccount() {
            this.discordToken = 1;
            this.$http.get(SERVER_ENDPOINT + '/discord/token').then(res => {
                this.discordToken = res.body;
            });
        }
    },
    mounted: function() {
        if (Cookies.get('username')) {
            Vue.http.options.credentials = true;
            // Vue.http.headers.common['Authorization'] = "bearer " + this.authToken;
            // Vue.http.interceptors.push((req, next) => {
            //     next((res) => {
            //         if (res.status != 200 && res.body.message && res.body.message.length > 0) {
            //             this.toast(res.body.message, 'is-danger', 3000);
            //         }
            //     });
            // });
            this.getUser(user => {
                this.getGames();
            });
            if (getParameterByName('premium')) {
                $(document).scrollTop($('#premium').offset().top);
            }
        } else {
            this.toast('You are not logged in. Redirecting to landing page...', 'is-danger', 3000);
            setTimeout(function() {
                window.location = "index";
            }, 3000);
        }
    }
}
</script>

<style>
.discord-token {
    border: 1px solid white;
    background: #333;
    color: white;
    padding: .75rem;
    text-align: center;
    border-radius: 4px;
}
.discord {
    padding: 2rem;
}
</style>
