<template>
   
    <div class="box item-book">
        <div class="columns has-text-centered">
            <b-icon icon="book" size="is-large" class="item-icon" :class="{'is-active': item.active}"></b-icon>
            <div class="column">
                <p class="title is-5">{{item.name}}</p>
                <p class="subtitle is-7">{{item.description}}</p>
                <div class="field is-grouped is-grouped-centered" v-if="isOwner">
                    <p class="control" v-if="item.active">
                        <a class="button is-warning" @click="$emit('deactivate', item)">Deactivate</a>
                    </p>
                    <p class="control" v-else>
                        <a class="button is-success" @click="$emit('activate', item)">Activate</a>
                    </p>
                </div>
            </div>
        </div>
    </div>

</template>

<script>
export default {
    props: ['item', 'isOwner']
}
</script>

<style>
.item-book {
    position: relative;
}
.item-book .item-icon {
    position: absolute;
    top: -15px;
    left: -15px;
}
.item-book .item-icon {
    color: black;
}
.item-book .item-icon.is-active {
    color: #7957d5;
}
</style>
