<template>
   
    <div class="box item-building">
        <div class="columns has-text-centered">
            <b-icon icon="university" size="is-large" class="item-icon" :class="{'is-active': item.active}"></b-icon>
            <div class="column">
                <p class="title is-5">{{item.name}}</p>
                <p class="subtitle is-7">{{item.description}}</p>
                <p>{{item.upkeep}}btc / turn</p>
                <div class="field is-grouped is-grouped-centered" v-if="isOwner">
                    <p class="control">
                        <a class="button is-success" @click="build(item)">Build</a>
                    </p>
                </div>
            </div>
        </div>
    </div>

</template>

<script>
export default {
    props: ['item', 'isOwner'],
    methods: {
        build( item ) {
            let activeKitten = this.$store.getters.activeCharacter;
            if (activeKitten) {
                let county = this.$store.getters.county(activeKitten.location);
                if (county && !county.buildings.find(building => building.id === item.id)) {
                    this.$emit('activate', item);
                } else {
                    this.$toast.open({
                        message: `${item.name} is already build at ${county.name}`,
                        type: 'is-warning'
                    });
                }
            }
        }
    }
}
</script>

<style>
.item-building {
    position: relative;
}
.item-building .item-icon {
    position: absolute;
    top: -15px;
    left: -15px;
}
.item-building .item-icon {
    color: black;
}
</style>
