<template>
  
    <div class="box item-potion">
        <div class="columns has-text-centered">
            <b-icon icon="flask" size="is-large" class="item-icon" :class="{'is-active': item.active}"></b-icon>
            <div class="column">
                <p class="title is-5">{{item.name}}</p>
                <p class="subtitle is-7" :style="{color: rarityColor}">{{rarity}}</p>
                <p class="is-size-7">{{item.description}}</p>
                <br>
                <div class="field is-grouped is-grouped-centered" v-if="!item.active && isOwner">
                    <p class="control">
                        <a class="button is-success" @click="$emit('activate', item)">Consume</a>
                    </p>
                    <p class="control" v-if="item.combinesWith">
                        <a class="button is-primary" :disabled="!canMix" @click="$emit('mix', item)">Mix</a>
                    </p>
                </div>
                <p class="is-size-7 has-text-danger" v-if="!item.active">Use by turn {{item.expires}}</p>
                <p class="is-size-7 has-text-success" v-else>Active until turn {{item.expires}}</p>
            </div>
        </div>
    </div>

</template>

<script>
export default {
    props: ['item', 'isOwner', 'canMix'],
    computed: {
        rarity() {
            let titles = ['Common', 'Uncommon', 'Rare', 'Very Rare'];
            return titles[this.item.rarity];
        },
        rarityColor() {
            let colors = ['white', 'blue', 'gold', 'purple'];
            return colors[this.item.rarity];
        }
    }
}
</script>

<style>
.item-potion {
    position: relative;
}
.item-potion .item-icon {
    position: absolute;
    top: -15px;
    left: -15px;
}
.item-potion .item-icon {
    color: black;
}
.item-potion .item-icon.is-active {
    color: #7957d5;
    transform: rotate(45deg);
}
</style>
